
            <ul class="main-left">
                <li><a href="AboutUs"><i class="fa fa-odnoklassniki"></i>关于我们</a></li>
                <li><a href="AboutBaoku"><i class="fa fa-heart-o"></i>关于保酷</a></li>
                <li><a href="cooperation"><i class="fa fa-phone"></i>战略合作</a></li>
                <li><a href=""><i class="fa fa-hand-o-right"></i>新手指南</a></li>
                <li><a href="Question"><i class="fa fa-question-circle"></i>常见问题</a></li>
                <li><a href="serveOrder"><i class="fa fa-edit"></i>服务协议</a></li>
                <li><a href=""><i class="fa fa-book"></i>使用手册</a></li>
            </ul>
    
    
  
