
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}

<div class="main-right">
    <div class="main-right-header">
        <h2>关于我们</h2>
    </div>
    <div class="main-right-body">
        <img src="../../../Content/imgIndex/about_img1.png" alt="" />
        <p>上海皓为商务咨询有限公司（简称：皓为咨询）成立于2009年，致力于为客户提供一站式的保险和健康服务，团队全部由保险、人力资源、健康管理，医疗服务领域资深专家组成。至今，皓为咨询已经与平安、太平、友邦、人保、永安、阳光、合众建立合作关系，根据不同需求为全国客户提供多样化的保险保障方案和理赔服务。同时，皓为咨询整合了全国的医疗健康资源，为企业客户提供了健康及就医协助服务，包括体检、挂号、绿色通道、基因检测、齿科等全国性服务。2016年6月完成天使轮融资，估值2500万。</p>
    </div>
</div>

