
@{
    ViewBag.Title = "关于保酷";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}


<div class="main-right">
    <div class="main-right-header">
        <h2>关于保酷</h2>
    </div>
    <div class="main-right-body">
        <img src="../../../Content/imgIndex/about_img1.png" alt="" />
        <p>保酷作为皓为咨询旗下保险和健康服务平台更是中小企业及人力资源公司的福音，为企业提供低价、便捷、高效的保险和健康服务。平台产品涵盖保险和健康的方方面面，保险产品包括雇主责任险、员工福利保险，健康产品包括体检、基因检测、齿科、预约挂号、诊疗陪护、私人医生、绿色通道、药品配送等服务。保酷通过平台优势为客户提供全程的线上方案选择、投保、保全、理赔、查询服务，全程把控服务体验。</p>
    </div>
</div>

