
@{
    ViewBag.Title = "战略合作";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}

<div class="main-right">
    <div class="main-right-header">
        <h2>战略合作</h2>
    </div>
    <div class="main-right-body">
        <div>
            <h3>保酷----企业团体保险保障服务专家</h3>
            <ol>
                <li style="margin-top:30px;">如果您面对繁杂的各类保险保障内容不知如何选择，</li>
                <li>如果您在寻求最贴合企业需求的保险保障计划，</li>
                <li style="margin-bottom: 30px;;">如果您需要更高性价比的企业团体保险及健康类福利产品…</li>
                <li>
                    保酷为您提供企业保障一站式的解决方案，
                </li>
                <li>标准化的保险保障产品，清晰易懂，</li>
                <li>在线投保，加减保，实时出单， </li>
                <li>标准化健康类服务产品，质优价低，</li>
                <li>自助理赔，进度全程查询，</li>
                <li>业绩可追踪，公开透明，操作便捷，</li>
                <li>让您坐享最优质的服务体验，最优惠的产品价格，最完善的保障计划,</li>
                <li>欢迎人力资源管理公司、企业服务及费用方案平台、园区及孵化器等创业平台加入</li>
                <li>保酷与您携手同创精彩未来，利益共赢。</li>
            </ol>

            <b>联系我们：</b><br />
            <div class="contact">
                <p>上海总公司电话：021-82167356</p>
                <p>苏州公司电话：</p>
                <p>商务渠道合作：0512-00000000（转卢先生）</p>
                <p>服务商合作：021-00000000（转徐小姐）</p>
                <p>客服电话：400-612-6750</p>
                <p>客服邮箱：service@inscoo.com</p>
            </div>


        </div>
    </div>
</div>

