
@{
    ViewBag.Title = "常见问题";
    Layout = "~/Views/About/_AboutLayout.cshtml";
}

<div class="main-right">
    <div class="main-right-header">
        <h2>常见问题</h2>
    </div>
    <div class="main-right-body">
        <div>
            <h3>常见问题</h3>
            <ul>
                <li>
                    什么是企业医疗补充保险？有社保，还需要买这个保险吗？
                    <p>
                        企业补充医疗保险顾名思义是与社保是相互补充的。提供因意外事故造成身故、残疾以及意外医疗保险金，重疾、疾病身故保险金、门急诊和住院费用，还有住院津贴，
                    </p>
                    <ul>
                        <li>
                            补充医疗保险报销的原则就是社保没有报销的那部分再从补充医疗中报销。比如，门诊1800以内部分及1800以上社保报销比例以外的部分、住院1300以内的部分及1300以上社保报销比例以外的部分。
                        </li>
                        <li>
                            补充医疗报销比例是根据单位自己选择而定的，比如，门诊单位可以选择在社保报销以外在报销60%、或80%甚至可以选择90%等等，住院也一样，可以选择在申报报销以后再报销90%、95%等等，这而比例在投保时进行选择；
                        </li>
                        <li>
                            补充医疗也是社保要求的一个内容，公司可以从费用中支出，一旦员工有一个大病或意外事故，对公司来讲那就可以减轻不小的赔付压力。
                        </li>
                        <div>对于小的单位来说就更有必要，因为小的单位一旦有职工发生重大问题，资金就会收到很大的影响。</div>
                    </ul>
                </li>
                <li>
                    已购买了工伤保险，还需再购买商业保险吗？
                    <p>
                        工伤保险只覆盖员工工作中产生的意外和工伤。而商业保险提供了更完善的保障内容和搞搞的保障额度。工伤保险只覆盖工作中的意外，保酷的保险产品提供人身意外、重疾、疾病身故、意外医疗、住院门急诊、住院津贴。做到全方面、广覆盖。让员工实实在在体验到老板给的关怀，同时帮助企业规避运营中的人力风险，是企业吸引人才留住人才的极佳选择。
                    </p>
                </li>
                <li>
                    产品的保障期限？如果员工发生离职怎么办？
                    <p>
                        保酷团体保险的的保障是一年期的。如果在保障期间员工离职或者新员工入职，您可以在平台上自助进行增员和减员操作，并且按照员工在保单内实际留存天数自动计算保费。
                    </p>
                </li>
                <li>
                    对地域和医保缴费地有限制吗？
                    <p>
                        保酷的保险保障产品是面向全国销售，服务也是可以全国覆盖的。<mark>无论员工在常驻地是否缴纳医保，</mark>因意外或疾病就医，只要是医保范围内的费用都可以获得理赔。
                    </p>
                </li>
                <li>
                    对被保人年龄有限制吗？
                    <p>被保人年龄为18-65周岁。系统会根据您企业的年龄区间自动计算相应的保费金额，不存在年龄不符的被保人先交费后审核不过的情况。</p>
                </li>
            </ul>
        </div>
    </div>
</div>
        </div>

