.contentWidth {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  min-width: 900px;
}
.baseFont {
  color: #232323;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #333F4D;
  margin-bottom: 1em;
  box-shadow: 0 1px 3px #999;
}
header ul {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  min-width: 900px;
  height: 60px;
}
header ul li {
  height: 50px;
  width: 50%;
  float: left;
}
header ul li:last-child {
  text-align: right;
  padding-right: 2em;
  font-size: 1.6em;
  line-height: 60px;
}
header ul li a img {
  margin-top: 5px;
  width: auto;
  height: 50px;
}
body {
  background-color: #fff;
  color: #232323;
}
.main {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  min-width: 900px;
  min-height: 468px;
}
.mainNav {
  background-color: #333F4D;
  min-height: 400px;
  min-width: 135px;
  width: 15%;
  float: left;
  padding-bottom: 1em;
}
.firstMenu {
  width: 100%;
  border: none;
}
.firstMenu li {
  width: 100%;
}
.firstMenu li a {
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.firstMenu li a i {
  margin-right: .5em;
}
.firstMenu li a:hover {
  border-left: .3em solid #1f91c7;
  background-color: #5E6E7E;
  border-radius: 0;
  margin: 0;
  border: 1px solid #5E6E7E;
}
.firstMenu li a:visited {
  background-color: #5E6E7E;
  border-radius: 0;
}
.secondmenu li a {
  border-left: .3em solid #1f91c7;
  background-color: #5E6E7E;
  border-radius: 0;
  margin: 0;
  border: 1px solid #5E6E7E;
}
.secondmenu li a:hover {
  background-color: #333F4D;
}
.bottomMenu {
  border-top: .2em solid #2a3644;
  padding-top: 2em;
}
.mainContent {
  float: right;
  width: 85%;
  padding-left: 10px;
}
.full {
  width: 100%;
}
.Portrait {
  width: 100%;
  height: 12em;
  text-align: center;
  border-bottom: .2em solid #2a3644;
}
.Portrait img {
  margin-top: 1em;
  margin-bottom: 1px;
  height: 7em;
  width: auto;
  vertical-align: middle;
}
.Portrait p {
  color: #fff;
  line-height: 3em;
}
/**pager**/
.pager {
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
.pager span {
  padding: 0 1em;
  line-height: 2em;
  letter-spacing: .1em;
  margin: 0 .5em;
}
.pager span b {
  margin: 0 .2em;
  color: #428BCA;
}
.pager select {
  margin: 0 .5em;
  line-height: 2em;
  height: 2em;
  color: #000;
}
.pager a {
  line-height: 2em;
  padding: .5em 1em;
  word-spacing: .5em;
  cursor: pointer;
  margin: 0 .5em;
  box-shadow: #ccc 0 0 2px;
}
.formCreate {
  width: 60%;
  min-width: 512px;
  margin: 0 auto;
}
.dl-horizontal {
  margin: 1em auto;
}
.panel-footer {
  padding: 0 0;
}
.inscooCase {
  width: 48%;
  float: left;
  margin: 0 1%;
  box-shadow: 0 0 .5em #ddd;
}
.inscooCase-title-left {
  height: 55px;
  line-height: 55px;
  text-align: center;
}
.inscooCase-title-left strong {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #555;
}
.inscooCase-title-left span {
  height: 25px;
  font-size: .8em;
  display: block;
  width: 100%;
  line-height: 25px;
  color: gray;
}
.inscooCase-body {
  width: 96%;
  margin: 0 auto;
  box-shadow: 0 1px 0 #ddd inset;
  height: 260px;
}
.inscooCase-title-right {
  text-align: center;
  background-color: #83BA21;
  border-bottom: 5px solid #71A01E;
  height: 50px;
  line-height: 50px;
  font-size: 1.3em;
  color: #fff;
  border-radius: 3px;
}
.inscoo-programme-left {
  width: 40%;
  height: 124px;
  float: left;
  margin: 3px 5%;
  text-align: center;
}
.inscoo-programme-left a {
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 100px;
}
.inscoo-programme-left a img {
  width: 100%;
  height: auto;
  text-align: center;
  border: .8em solid #ccc;
  cursor: pointer;
}
.inscoo-programme-left a img:hover {
  border: 0.8em solid #83BA21;
}
.inscoo-programme-left p {
  display: block;
  width: 100%;
  line-height: 24px;
  height: 24px;
}
.programme-details {
  width: 100%;
}
.programme-details tr {
  width: 100%;
}
.programme-details tr th {
  width: 50%;
  color: #83BA21;
  height: 2em;
  line-height: 2em;
  box-shadow: 0 1px 0 #ddd;
}
.programme-details tr td {
  width: 50%;
  color: #666;
  height: 1.8em;
  line-height: 1.8em;
  box-shadow: 0 1px 0 #ddd;
}
.programme-price {
  color: #83BA21;
  line-height: 2em;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
}
.programme-pur {
  line-height: 2em;
  height: 2em;
  text-align: center;
}
.programme-clause {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  height: 1.5em;
}
.programme-query {
  width: 100%;
  line-height: 3em;
  font-size: 1.1em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.programme-footer {
  line-height: 3em;
  text-align: center;
  height: 3em;
}
.inscoo-productTable {
  margin: .5em auto;
  width: 100%;
  border-left: 1px solid #ddd;
}
.inscoo-productTable tr th {
  text-align: center;
  background-color: #24A9E4;
  color: #fff;
  line-height: 2.5em;
  height: 2.5em;
  border-right: 1px solid #24A9E4;
}
.inscoo-productTable tr td {
  text-align: center;
  line-height: 2em;
  height: 2em;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.inscoo-productTable tr td select {
  width: 50%;
  line-height: 1.5em;
  height: 1.5em;
}
.inscoo-productTable tr td b {
  color: #83BA21;
}
.customProduct_purchase {
  border-top: 1px solid #24A9E4;
  width: 100%;
  height: 4em;
  line-height: 4em;
  box-shadow: 0 0 3px #999;
}
.customProduct_purchase from {
  width: 100%;
}
.customProduct_purchaseul {
  width: 100%;
  height: 4em;
}
.customProduct_purchaseul li {
  width: 300px;
  text-align: center;
  float: left;
  margin: 0 auto;
}
.customProduct_purchaseul li b {
  color: #83BA21;
}