.contentWidth {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  min-width: 900px;
}
.baseFont {
  color: #232323;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
table tr th {
  text-align: center;
}
.table-style-control {
  font-size: 13px;
}
header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #333F4D;
  margin-bottom: 1em;
  box-shadow: 0 1px 3px #999;
  position: fixed;
  z-index: 10;
}
header ul {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  min-width: 900px;
  height: 60px;
}
header ul li {
  height: 50px;
  width: 30%;
  float: left;
}
header ul li:last-child {
  text-align: right;
  padding-right: 2em;
  font-size: 1.6em;
  line-height: 60px;
}
header ul li a img {
  margin-top: 5px;
  width: auto;
  height: 50px;
}
body {
  background-color: #fff;
  color: #232323;
}
.main {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  min-width: 900px;
  min-height: 468px;
}
.mainNav {
  background-color: #333F4D;
  min-height: 400px;
  min-width: 135px;
  width: 11%;
  float: left;
  padding-bottom: 1em;
  position: fixed;
  top: 80px;
}
.firstMenu {
  width: 100%;
  border: none;
  /*li a:focus {
        background-color: #5E6E7E;
        width:100%;
    }*/
}
.firstMenu li {
  width: 100%;
}
.firstMenu li a {
  text-align: left;
  font-weight: bold;
  color: #fff;
  padding-left: 28%;
}
.firstMenu li a.son-list {
  padding-left: 40%;
}
.firstMenu li a i {
  width: 18px;
  text-align: center;
  margin-right: .5em;
}
.firstMenu li a:hover {
  border-left: .3em solid #1f91c7;
  background-color: #5E6E7E;
  border-radius: 0;
  margin: 0;
  border: 1px solid #5E6E7E;
}
.firstMenu li a:visited {
  background-color: #5E6E7E;
  border-radius: 0;
}
.nav.nav-list a {
  line-height: 10px;
}
.nav-background {
  background-color: #bbb;
  width: 100%;
}
.secondmenu li a {
  border-left: .3em solid #1f91c7;
  background-color: #5E6E7E;
  border-radius: 0;
  margin: 0;
  border: 1px solid #5E6E7E;
}
.secondmenu li a:hover {
  background-color: #333F4D;
}
.bottomMenu {
  border-top: .2em solid #2a3644;
  padding-top: 2em;
}
.mainContent {
  float: right;
  width: 85%;
  padding-left: 10px;
  margin-top: 80px;
}
.full {
  width: 100%;
}
.Portrait {
  width: 100%;
  height: 12em;
  text-align: center;
  border-bottom: .2em solid #2a3644;
}
.Portrait img {
  margin-top: 1em;
  margin-bottom: 1px;
  height: 7em;
  width: auto;
  vertical-align: middle;
}
.Portrait p {
  color: #fff;
  line-height: 3em;
}
/**pager**/
.pager {
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align: center;
  font-size: 13px;
}
.pager span {
  padding: 0 1em;
  line-height: 2em;
  letter-spacing: .1em;
  margin: 0 .5em;
}
.pager span b {
  margin: 0 .2em;
  color: #428BCA;
}
.pager select {
  margin: 0 .5em;
  line-height: 2em;
  height: 2em;
  color: #000;
}
.pager a {
  line-height: 2em;
  padding: .5em 1em;
  word-spacing: .5em;
  cursor: pointer;
  margin: 0 .5em;
  box-shadow: #ccc 0 0 2px;
}
.formCreate {
  width: 60%;
  min-width: 512px;
  margin: 0 auto;
  font-size: 13px;
}
.dl-horizontal {
  margin: 1em auto;
}
.panel-footer {
  padding: 0 0;
}
.product-type {
  width: 100%;
  min-height: 40px;
  margin: 0px 1%;
  margin-bottom: 5px;
}
.product-type .main-product {
  width: 20%;
  height: 2em;
  line-height: 2em;
  padding-left: 6px;
  border: 1px solid #ddd;
  font-size: 13px;
}
.inscooCase {
  width: 100%;
  float: left;
  margin: 0 1%;
  box-shadow: 0 0 .5em #ddd;
  margin-bottom: 30px;
}
.inscooCase-title-left {
  height: 55px;
  line-height: 55px;
  text-align: center;
}
.inscooCase-title-left strong {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #555;
}
.inscooCase-title-left span {
  height: 25px;
  font-size: .8em;
  display: block;
  width: 100%;
  line-height: 25px;
  color: gray;
}
.inscooCase-body {
  width: 96%;
  margin: 0 auto;
  box-shadow: 0 1px 0 #ddd inset;
  height: 220px;
}
.inscooCase-title-right {
  text-align: center;
  background-color: #83BA21;
  border-bottom: 5px solid #71A01E;
  height: 50px;
  line-height: 50px;
  font-size: 1.3em;
  color: #fff;
  border-radius: 3px;
}
.inscoo-programme-left {
  width: 14%;
  height: 124px;
  float: left;
  margin: 30px 5%;
  text-align: center;
}
.inscoo-programme-left a {
  display: block;
  width: 100px;
  margin: 0 auto;
  height: 100px;
}
.inscoo-programme-left a img {
  width: 100%;
  height: auto;
  text-align: center;
  border: .8em solid #ccc;
  cursor: pointer;
}
.inscoo-programme-left a img:hover {
  border: 0.8em solid #83BA21;
}
.inscoo-programme-left p {
  display: block;
  width: 100%;
  line-height: 24px;
  height: 24px;
}
.programme-details {
  width: 100%;
}
.programme-details tr {
  width: 100%;
}
.programme-details tr th {
  width: 50%;
  color: #83BA21;
  height: 2.8em;
  line-height: 2.8em;
  border-bottom: 1px dashed #ddd;
}
.programme-details tr td {
  width: 50%;
  color: #666;
  height: 2.8em;
  line-height: 2.8em;
  border-bottom: 1px dashed #ddd;
  font-size: 12px;
}
.programme-price {
  color: #83BA21;
  line-height: 2em;
  height: 2em;
  font-size: 1.5em;
  text-align: center;
}
.programme-pur {
  line-height: 2em;
  height: 2em;
  text-align: center;
}
.programme-clause {
  width: 100%;
  text-align: center;
  line-height: 1.5em;
  height: 1.5em;
}
.programme-query {
  width: 100%;
  line-height: 4em;
  font-size: 1.1em;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.programme-footer {
  line-height: 3em;
  text-align: center;
  height: 3em;
}
.describe_name {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding-left: 10px;
  border-left: 5px solid #5CB85C;
}
.nav-tabs {
  font-size: 12px;
}
.radio-inline,
.checkbox-inline {
  font-size: 12px;
}
.inscoo-productTable {
  margin: .5em auto;
  margin-bottom: 1.5em;
  width: 100%;
  border: 1px solid #ddd;
}
.inscoo-productTable tr th {
  text-align: center;
  font-weight: ;
  line-height: 3.2em;
  height: 3.2em;
  border-right: 1px dashed #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}
.inscoo-productTable tr td {
  text-align: center;
  line-height: 2.2em;
  height: 4.5em;
  border-right: 1px dashed #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
}
.inscoo-productTable tr td select {
  width: 50%;
  line-height: 1.5em;
  height: 1.5em;
}
.inscoo-productTable tr td b {
  color: #83BA21;
}
.inscoo-productTable tr td .check_product {
  width: 1.2em;
  height: 1.2em;
  margin-top: 20px;
}
.inscoo-productTable tr:hover {
  background-color: #FFF9F2;
}
.toggle_color {
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-bottom: -11px;
  cursor: pointer;
}
.show_color {
  background: url('imgIndex/question.png') no-repeat;
}
.hide_color {
  background: url('imgIndex/question_1.png') no-repeat;
}
.hideDeclare {
  font-size: 0.8em;
  display: none;
  text-indent: 20px;
  padding: 0 10px;
}
.hideDeclare.showDeclare {
  font-size: 0.8em;
  display: table-cell;
  text-indent: 20px;
  padding: 0 10px;
  line-height: 25px;
}
.customProduct_purchase {
  width: 100%;
  height: 5em;
  line-height: 5em;
  box-shadow: 0 0 3px #999;
}
.customProduct_purchase from {
  width: 100%;
}
.customProduct_purchaseul {
  width: 100%;
  height: 4em;
}
.customProduct_purchaseul li {
  width: 300px;
  text-align: center;
  float: left;
  margin: 0 auto;
}
.customProduct_purchaseul li b {
  color: #83BA21;
  font-size: 1.5em;
}
.orderConfirm {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 3px #ccc;
  margin-bottom: 20px;
}
.orderConfirmLi {
  width: 100%;
  height: 70px;
  background-color: #5E6E7E;
  box-shadow: 0 0 5px #666;
}
.orderConfirmLi li {
  float: left;
  width: 25%;
  height: 70px;
  text-align: center;
  color: #fff;
}
.orderConfirmLi li i {
  display: block;
  width: 100%;
  height: 44px;
  line-height: 44px;
}
.orderConfirmLi li span {
  display: block;
  width: 100%;
  height: 26px;
  line-height: 26px;
  font-size: 1.1em;
}
.orderConfirmLiActive {
  background-color: #24A9E4;
}
.orderConfirmBody {
  width: 100%;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.orderConfirmBody dl {
  width: 100%;
  margin: 0 auto;
}
.orderConfirmBody dl dt {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #24A9E4;
  color: #fff;
}
.orderConfirmBody dl .dd-product-style {
  width: 60%;
}
.orderConfirmBody dl .dd-product-style ul {
  margin-left: 70%;
}
.orderConfirmBody dl .dd-product-style ul li:nth-child(odd) {
  width: 68%;
}
.orderConfirmBody dl .dd-product-style ul li:nth-child(even) {
  width: 30%;
}
.orderConfirmBody dl .dd-product-style ul .product-select {
  font-size: 13px;
  border-radius: 3px;
  height: 22px;
  line-height: 22px;
  width: 70%;
}
.orderConfirmBody dl dd ol {
  width: 96%;
  height: 100px;
  margin: .5em 2%;
}
.orderConfirmBody dl dd ol li {
  height: 40px;
  line-height: 40px;
  float: left;
}
.orderConfirmBody dl dd ol li:nth-child(odd) {
  width: 20%;
  text-align: right;
}
.orderConfirmBody dl dd ol li:nth-child(even) {
  width: 30%;
  text-align: left;
}
.orderConfirmBody dl dd ul {
  width: 96%;
  height: 2em;
  margin: .3em 2%;
}
.orderConfirmBody dl dd ul li {
  height: 2em;
  line-height: 2em;
}
.orderConfirmBody dl dd ul li:nth-child(odd) {
  width: 20%;
  text-align: right;
  float: left;
}
.orderConfirmBody dl dd ul li:nth-child(even) {
  width: 79%;
  text-align: left;
  float: right;
}
.orderConfirmBody dl dd ul li:nth-child(even) span {
  color: #83BA21;
}
.orderConfirmBodyNext {
  height: 50px;
  line-height: 50px;
  background-color: #5E6E7E;
  text-align: center;
}
.orderConfirmBodyNext div {
  width: 48%;
  height: 50px;
}
.orderConfirmBodyNext div a {
  display: block;
  width: 8em;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  background-color: #24A9E4;
}
.orderConfirmBodyNext div:nth-child(odd) {
  float: left;
}
.orderConfirmBodyNext div:nth-child(odd) a {
  float: right;
}
.orderConfirmBodyNext div:nth-child(even) {
  float: right;
}
.orderConfirmBodyNext div:nth-child(even) input {
  float: left;
}
.orderConfirmNextSubmit {
  width: 8em;
  height: 40px;
  line-height: 40px;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  background-color: #24A9E4;
  border: none;
  float: left;
}
.orderEntryInfoBody {
  width: 100%;
  font-size: 13px;
}
.orderEntryInfoBody ul {
  width: 100%;
  height: 40px;
  margin: 1em auto;
}
.orderEntryInfoBody ul li {
  height: 40px;
  line-height: 40px;
  float: left;
}
.orderEntryInfoBody ul li:first-child {
  width: 20%;
  text-align: right;
}
.orderEntryInfoBody ul li:nth-child(even) {
  width: 40%;
}
.orderEntryInfoBody ul li:nth-child(even) input {
  width: 90%;
  margin: 0 auto;
}
.orderEntryInfoBody ul li:last-child {
  text-align: left;
  width: 40%;
}
.orderEntryInfoBodyUpload {
  height: 34px;
  line-height: 34px;
  width: 4em;
  text-align: center;
}
.employeeInfo {
  width: 100%;
  height: auto;
  border: none;
  margin: 1em auto;
  line-height: 1.5em;
  text-align: center;
}
.hide {
  display: none;
}
.uploadInfo {
  width: 100%;
  height: auto;
  margin: .5em auto;
}
.uploadInfo dl {
  width: 100%;
  margin: 0 auto;
}
.uploadInfo dl dt {
  width: 100%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: #24A9E4;
  color: #fff;
}
.uploadInfo dl dd ul {
  width: 96%;
  height: 2em;
  margin: .5em 2%;
}
.uploadInfo dl dd ul li {
  height: 2em;
  line-height: 2em;
}
.uploadInfo dl dd ul li:nth-child(odd) {
  width: 40%;
  text-align: right;
  float: left;
}
.uploadInfo dl dd ul li:nth-child(even) {
  width: 58%;
  text-align: left;
  float: right;
}
.uploadInfo dl dd ul li:nth-child(even) span {
  color: #83BA21;
}
.confirmPayment {
  width: 100%;
}
.confirmPayment ul {
  width: 100%;
  height: auto;
  border-bottom: .1em solid #ccc;
}
.confirmPayment ul li {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.confirmPayment ul li:last-child {
  text-indent: 5%;
  font-size: 1.2em;
  font-weight: bold;
  color: #24A9E4;
}
.confirmPayment dl {
  width: 96%;
  height: 9em;
  margin: 0 auto;
}
.confirmPayment dl dt {
  width: 20%;
  height: 2.5em;
  line-height: 2.5em;
  text-align: right;
  float: left;
}
.confirmPayment dl dd {
  float: right;
  width: 78%;
  height: 2.5em;
  line-height: 2.5em;
  text-align: left;
}
.confirmPayment p {
  display: block;
  width: 100%;
}
.confirmPayment p a {
  margin-left: 23%;
  display: block;
  text-align: center;
  width: 12em;
  height: 40px;
  line-height: 40px;
  color: #9a0c0c;
  font-weight: bold;
  font-size: 1.1em;
  background-color: #ccc;
}
.Search {
  padding: 1.3em 0 0.1em 0;
  margin-bottom: 2em;
  box-shadow: 0 0 2px #999;
  font-size: 13px;
}
.Search dl {
  width: 85%;
}
.Search dl dt {
  width: 15%;
  height: 35px;
  line-height: 35px;
  font-weight: bold;
  color: #555;
  text-align: right;
  float: left;
  margin-bottom: 6px;
}
.Search dl dd {
  width: 35%;
  height: 35px;
  float: left;
  text-align: left;
  margin-bottom: 6px;
}
.Search dl dd input {
  border-radius: 3px;
  margin-left: .5em;
  width: 90%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  margin-top: 2.5px;
}
.Search dl dd select {
  border-radius: 3px;
  margin-left: .5em;
  width: 90%;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ccc;
  margin-top: 2.5px;
}
.Search dl dd p input {
  border-radius: 4px;
  margin-left: .5em;
  width: 90%;
  height: 34px;
  line-height: 34px;
  color: #fff;
  border: 1px solid #ccc;
  background-color: #5DB75F;
}
.Search dl dd p input:hover {
  background-color: #469B46;
}
.orderDetails {
  width: 100%;
  margin: .5em auto;
  box-shadow: 0 0 3px #ccc;
}
.orderDetails h4 {
  display: block;
  height: 2.5em;
  line-height: 2.5em;
  text-indent: 2em;
  width: 100%;
  font-weight: bold;
  box-shadow: 0 1px 0 #ddd;
}
.orderDetails dl {
  width: 96%;
  margin: 0 auto;
}
.orderDetails dl dt {
  width: 20%;
  height: 2em;
  line-height: 2em;
  text-align: right;
  float: left;
  box-shadow: 0 1px 0 #eee;
  color: #666;
}
.orderDetails dl dd {
  width: 30%;
  height: 2em;
  line-height: 2em;
  text-align: left;
  float: left;
  text-indent: 1em;
  box-shadow: 0 1px 0 #eee;
}
.orderDetailsTable {
  min-width: 1200px;
  margin-bottom: .5em;
}
.orderDetailsTable tr th {
  line-height: 2em;
  background-color: #24A9E4;
  color: #fff;
}
.orderDetailsExamine {
  width: 100%;
}
.orderDetailsExamine ul {
  width: 100%;
  height: 40px;
  margin: 1em auto;
}
.orderDetailsExamine ul li {
  height: 40px;
  line-height: 40px;
  float: left;
}
.orderDetailsExamine ul li:first-child {
  width: 20%;
  text-align: right;
}
.orderDetailsExamine ul li:nth-child(even) {
  width: 40%;
}
.orderDetailsExamine ul li:nth-child(even) input {
  margin-left: 1em;
}
.orderDetailsExamine ul li:last-child {
  text-align: left;
  width: 40%;
}
.buyMore {
  width: 100%;
  margin: 2em 0;
}
.buyMore ul {
  width: 100%;
}
.buyMore ul li {
  height: 40px;
  line-height: 40px;
  float: left;
}
.buyMore ul li:first-child {
  width: 20%;
  text-align: right;
}
.buyMore ul li:nth-child(even) {
  width: 40%;
}
.buyMore ul li:nth-child(even) input {
  margin-left: 1em;
}
.buyMore ul li:last-child {
  text-align: left;
  width: 40%;
}