@headColor: #fff; //#28AAE4;
@menuColor: #333F4D;
@mainBgColor: #EBEBEB;
@inscooGreen: #83BA21;
@iscooBlue: #24A9E4;

.contentWidth {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    min-width: 900px;
}

.baseFont {
    color: #232323;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;

    tr {
        th {
            text-align: center;
        }
    }
}

header {
    width: 100%;
    height: 60px;
    background-color: @headColor;
    color: @menuColor;
    margin-bottom: 1em;
    box-shadow: 0 1px 3px #999;

    ul {
        .contentWidth;
        height: 60px;
    }

    ul li {
        height: 50px;
        width: 50%;
        float: left;
    }

    ul li:last-child {
        text-align: right;
        padding-right: 2em;
        font-size: 1.6em;
        line-height: 60px;
    }

    ul li a img {
        margin-top: 5px;
        width: auto;
        height: 50px;
    }
}

body {
    background-color: #fff;
    .baseFont;
}

.main {
    .contentWidth;
    min-height: 468px;
}

.mainNav {
    background-color: @menuColor;
    min-height: 400px;
    min-width: 135px;
    width: 15%;
    float: left;
    padding-bottom: 1em;
}

.firstMenu {
    width: 100%;
    border: none;

    li {
        width: 100%;
    }

    li a {
        text-align: center;
        font-weight: bold;
        color: #fff;
    }

    li a i {
        margin-right: .5em;
    }

    li a:hover {
        border-left: .3em solid #1f91c7;
        background-color: #5E6E7E;
        border-radius: 0;
        margin: 0;
        border: 1px solid #5E6E7E;
    }

    li a:visited {
        background-color: #5E6E7E;
        border-radius: 0;
    }
}

.secondmenu {
    li a {
        border-left: .3em solid #1f91c7;
        background-color: #5E6E7E;
        border-radius: 0;
        margin: 0;
        border: 1px solid #5E6E7E;
    }

    li a:hover {
        background-color: @menuColor;
    }
}

.bottomMenu {
    border-top: .2em solid #2a3644;
    padding-top: 2em;
}

.mainContent {
    float: right;
    width: 85%;
    padding-left: 10px;
}

.full {
    width: 100%;
}

.Portrait {
    width: 100%;
    height: 12em;
    text-align: center;
    border-bottom: .2em solid #2a3644;
}

.Portrait img {
    margin-top: 1em;
    margin-bottom: 1px;
    height: 7em;
    width: auto;
    vertical-align: middle;
}

.Portrait p {
    color: #fff;
    line-height: 3em;
}
/**pager**/
.pager {
    width: 100%;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

.pager span {
    padding: 0 1em;
    line-height: 2em;
    letter-spacing: .1em;
    margin: 0 .5em;
}

.pager span b {
    margin: 0 .2em;
    color: #428BCA;
}

.pager select {
    margin: 0 .5em;
    line-height: 2em;
    height: 2em;
    color: #000;
}

.pager a {
    line-height: 2em;
    padding: .5em 1em;
    word-spacing: .5em;
    cursor: pointer;
    margin: 0 .5em;
    box-shadow: #ccc 0 0 2px;
}

.formCreate {
    width: 60%;
    min-width: 512px;
    margin: 0 auto;
}

.dl-horizontal {
    margin: 1em auto;
}

.panel-footer {
    padding: 0 0;
}

.inscooCase {
    width: 48%;
    float: left;
    margin: 0 1%;
    box-shadow: 0 0 .5em #ddd;
}

.inscooCase-title-left {
    height: 55px;
    line-height: 55px;
    text-align: center;

    strong {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: #555;
    }

    span {
        height: 25px;
        font-size: .8em;
        display: block;
        width: 100%;
        line-height: 25px;
        color: gray;
    }
}

.inscooCase-body {
    width: 96%;
    margin: 0 auto;
    box-shadow: 0 1px 0 #ddd inset;
    height: 260px;
}

.inscooCase-title-right {
    text-align: center;
    background-color: @inscooGreen;
    border-bottom: 5px solid #71A01E;
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
    color: #fff;
    border-radius: 3px;
}

.inscoo-programme-left {
    width: 40%;
    height: 124px;
    float: left;
    margin: 3px 5%;
    text-align: center;

    a {
        display: block;
        width: 100px;
        margin: 0 auto;
        height: 100px;
    }

    a img {
        width: 100%;
        height: auto;
        text-align: center;
        border: .8em solid #ccc;
        cursor: pointer;
    }

    a img:hover {
        border: .8em solid @inscooGreen;
    }

    p {
        display: block;
        width: 100%;
        line-height: 24px;
        height: 24px;
    }
}

.programme-details {
    width: 100%;

    tr {
        width: 100%;

        th {
            width: 50%;
            color: @inscooGreen;
            height: 2em;
            line-height: 2em;
            box-shadow: 0 1px 0 #ddd;
        }

        td {
            width: 50%;
            color: #666;
            height: 1.8em;
            line-height: 1.8em;
            box-shadow: 0 1px 0 #ddd;
        }
    }
}

.programme-price {
    color: @inscooGreen;
    line-height: 2em;
    height: 2em;
    font-size: 1.5em;
    text-align: center;
}

.programme-pur {
    line-height: 2em;
    height: 2em;
    text-align: center;
}

.programme-clause {
    width: 100%;
    text-align: center;
    line-height: 1.5em;
    height: 1.5em;
}

.programme-query {
    width: 100%;
    line-height: 3em;
    font-size: 1.1em;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.programme-footer {
    line-height: 3em;
    text-align: center;
    height: 3em;
}

.inscoo-productTable {
    margin: .5em auto;
    width: 100%;
    border-left: 1px solid #ddd;

    tr {
        th {
            text-align: center;
            background-color: @iscooBlue;
            color: #fff;
            line-height: 2.5em;
            height: 2.5em;
            border-right: 1px solid @iscooBlue;
        }

        td {
            text-align: center;
            line-height: 2em;
            height: 2em;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;

            select {
                width: 50%;
                line-height: 1.5em;
                height: 1.5em;
            }

            b {
                color: @inscooGreen;
            }
        }
    }
}

.customProduct_purchase {
    border-top: 1px solid @iscooBlue;
    width: 100%;
    height: 4em;
    line-height: 4em;
    box-shadow: 0 0 3px #999;

    from {
        width: 100%;
    }
}

.customProduct_purchaseul {
    width: 100%;
    height: 4em;

    li {
        width: 300px;
        text-align: center;
        float: left;
        margin: 0 auto;

        b {
            color: @inscooGreen;
        }
    }
}

.orderConfirm {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 3px #ccc;
}

.orderConfirmLi {
    width: 100%;
    height: 70px;
    background-color: #5E6E7E;
    box-shadow: 0 0 5px #666;

    li {
        float: left;
        width: 25%;
        height: 70px;
        text-align: center;
        color: #fff;

        i {
            display: block;
            width: 100%;
            height: 44px;
            line-height: 44px;
        }

        span {
            display: block;
            width: 100%;
            height: 26px;
            line-height: 26px;
            font-size: 1.1em;
        }
    }
}

.orderConfirmLiActive {
    background-color: @iscooBlue;
}

.orderConfirmBody {
    width: 100%;
    border: 1px solid @iscooBlue;

    dl {
        width: 100%;
        margin: 0 auto;

        dt {
            width: 100%;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background-color: @iscooBlue;
            color: #fff;
        }

        dd {
            ol {
                width: 96%;
                height: 100px;
                margin: .5em 2%;

                li {
                    height: 40px;
                    line-height: 40px;
                    float: left;
                }

                li:nth-child(odd) {
                    width: 20%;
                    text-align: right;
                }

                li:nth-child(even) {
                    width: 30%;
                    text-align: left;
                }
            }

            ul {
                width: 96%;
                height: 2em;
                margin: .5em 2%;

                li {
                    height: 2em;
                    line-height: 2em;
                }

                li:nth-child(odd) {
                    width: 20%;
                    text-align: right;
                    float: left;
                }

                li:nth-child(even) {
                    width: 79%;
                    text-align: left;
                    float: right;

                    span {
                        color: @inscooGreen;
                    }
                }
            }
        }
    }
}

.orderConfirmBodyNext {
    height: 50px;
    line-height: 50px;
    background-color: #5E6E7E;
    text-align: center;

    div {
        width: 48%;
        height: 50px;

        a {
            display: block;
            width: 8em;
            height: 40px;
            line-height: 40px;
            margin: 5px 0;
            text-align: center;
            color: #fff;
            background-color: @iscooBlue;
        }
    }

    div:nth-child(odd) {
        float: left;

        a {
            float: right;
        }
    }

    div:nth-child(even) {
        float: right;

        input {
            float: left;
        }
    }
}

.orderConfirmNextSubmit {
    width: 8em;
    height: 40px;
    line-height: 40px;
    margin: 5px 0;
    text-align: center;
    color: #fff;
    background-color: @iscooBlue;
    border: none;
    float: left;
}

.orderEntryInfoBody {
    width: 100%;

    ul {
        width: 100%;
        height: 40px;
        margin: 1em auto;

        li {
            height: 40px;
            line-height: 40px;
            float: left;
        }

        li:first-child {
            width: 20%;
            text-align: right;
        }

        li:nth-child(even) {
            width: 40%;

            input {
                width: 90%;
                margin: 0 auto;
            }
        }

        li:last-child {
            text-align: left;
            width: 40%;
        }
    }
}

.orderEntryInfoBodyUpload {
    height: 34px;
    line-height: 34px;
    width: 4em;
    text-align: center;
}

.employeeInfo {
    width: 100%;
    height: auto;
    border: none;
    margin: 1em auto;
    line-height: 1.5em;
    text-align: center;
}

.hide {
    display: none;
}

.uploadInfo {
    width: 100%;
    height: auto;
    margin: .5em auto;

    dl {
        width: 100%;
        margin: 0 auto;

        dt {
            width: 100%;
            height: 35px;
            line-height: 35px;
            text-align: center;
            background-color: @iscooBlue;
            color: #fff;
        }

        dd {
            ul {
                width: 96%;
                height: 2em;
                margin: .5em 2%;

                li {
                    height: 2em;
                    line-height: 2em;
                }

                li:nth-child(odd) {
                    width: 40%;
                    text-align: right;
                    float: left;
                }

                li:nth-child(even) {
                    width: 58%;
                    text-align: left;
                    float: right;

                    span {
                        color: @inscooGreen;
                    }
                }
            }
        }
    }
}

.confirmPayment {
    width: 100%;

    ul {
        width: 100%;
        height: auto;
        border-bottom: .1em solid #ccc;

        li {
            width: 100%;
            height: 30px;
            line-height: 30px;
        }

        li:last-child {
            text-indent: 5%;
            font-size: 1.2em;
            font-weight: bold;
            color: @iscooBlue;
        }
    }

    dl {
        width: 96%;
        height: 9em;
        margin: 0 auto;

        dt {
            width: 20%;
            height: 2.5em;
            line-height: 2.5em;
            text-align: right;
            float: left;
        }

        dd {
            float: right;
            width: 78%;
            height: 2.5em;
            line-height: 2.5em;
            text-align: left;
        }
    }

    p {
        display: block;
        width: 100%;

        a {
            margin-left: 23%;
            display: block;
            text-align: center;
            width: 12em;
            height: 40px;
            line-height: 40px;
            color: #9a0c0c;
            font-weight: bold;
            font-size: 1.1em;
            background-color: #ccc;
        }
    }
}

.Search {
    padding: .3em 0;
    margin-bottom: .3em;
    box-shadow: 0 0 2px #999;

    dl {
        width: 85%;

        dt {
            width: 15%;
            height: 35px;
            line-height: 35px;
            font-weight: bold;
            color: #555;
            text-align: right;
            float: left;
        }

        dd {
            width: 35%;
            height: 35px;
            float: left;
            text-align: left;

            input {
                border-radius: 3px;
                margin-left: .5em;
                width: 90%;
                height: 30px;
                line-height: 30px;
                border: 1px solid #ccc;
                margin-top: 2.5px;
            }

            select {
                border-radius: 3px;
                margin-left: .5em;
                width: 90%;
                height: 30px;
                line-height: 30px;
                border: 1px solid #ccc;
                margin-top: 2.5px;
            }

            p {
                input {
                    border-radius: 4px;
                    margin-left: .5em;
                    width: 90%;
                    height: 34px;
                    line-height: 34px;
                    color: #fff;
                    border: 1px solid #ccc;
                    background-color: #5DB75F;
                }

                input:hover {
                    background-color: #469B46;
                }
            }
        }
    }
}

.orderDetails {
    width: 100%;
    margin: .5em auto;
    box-shadow: 0 0 3px #ccc;

    h4 {
        display: block;
        height: 2.5em;
        line-height: 2.5em;
        text-indent: 2em;
        width: 100%;
        box-shadow: 0 1px 0 #ddd;
    }

    dl {
        width: 96%;
        margin: 0 auto;

        dt {
            width: 20%;
            height: 2em;
            line-height: 2em;
            text-align: right;
            float: left;
            box-shadow: 0 1px 0 #eee;
            color: #666;
        }

        dd {
            width: 30%;
            height: 2em;
            line-height: 2em;
            text-align: left;
            float: left;
            text-indent: 1em;
            box-shadow: 0 1px 0 #eee;
        }
    }
}

.orderDetailsTable {
    min-width:1200px;
    margin-bottom:.5em;
    tr {
        th {
            line-height:2em;
            background-color:@iscooBlue;
            color:#fff;
        }
    }
}
.orderDetailsExamine{
    width:100%;
    ul{
        width:100%;
        li{
            line-height:2em;
            box-shadow:0 1px 0 #ccc;
            float:left;
        }
        li:nth-child(odd){
            width:25%;
            text-align:right;
            font-weight:bold;
            color:#555;
        }
        li:nth-child(even){
            width:75%;
            text-align:left;
            text-indent:1em;
        }
    }
}
