.shoppingCart {
  border: 1px solid #ddd;
  border-top: none;
}
.shoppingCart tr th,
.shoppingCart tr td {
  text-align: left;
  text-indent: .5rem;
  font-weight: lighter;
  color: dimgray;
}
.shoppingCart tr:first-child {
  background-color: #eee;
}
.cart-total {
  height: 2rem;
  line-height: 2rem;
  width: 6rem;
  text-align: center;
  border: 1px solid #ccc;
}
.cart-floatbar {
  border: 1px solid #ddd;
  padding: 0 2%;
  height: 4rem;
  line-height: 4rem;
  margin: 0 auto;
}
.cart-amount {
  color: #666;
}
.cart-amount span {
  color: darkred;
  font-size: 1.1em;
  letter-spacing: 1px;
}