@model Models.CarInsuranceDetailSearchModel
@{
    ViewBag.Title = "车险列表";
}
@using (Ajax.BeginForm("CarInscuranceDetailList", "Insurance", new AjaxOptions()
{
    HttpMethod = "post",
    UpdateTargetId = "dataGrid"
}, new { @id = "searchForm" }))
{
    <div class="Search">
        <dl style="width:100%">
            <dt>
                投保人
            </dt>
            <dd>
                @Html.TextBoxFor(model => model.InsuredName, new { placeholder = "匹配开头" })
            </dd>
            <dt>车牌号</dt>
            <dd>
                @Html.TextBoxFor(model => model.InsuredCarNo, new { placeholder = "匹配开头" })
            </dd>
            <dt>保单号</dt>
            <dd>
                @Html.TextBoxFor(model => model.InsurancePolicy, new { placeholder = "匹配开头" })
            </dd>
            <dt></dt>
            <dd>
                <p>
                    <input type="submit" class="btn  btn-success" id="sbCheck" value="查找" style="width:40%;padding:0 0" />
                    <a href="GetInscuranceDetailList" id="aXiaZai" onclick="return DownloadFile()" class="btn btn-success" style="width:40%">下载</a>
                </p>
            </dd>
        </dl>
        <p class="clearfix"></p>
    </div>

    <div id="dataGrid" style="overflow-x:auto">

        @Html.Action("CarInscuranceDetailList")
    </div>
}
<script>

    function DownloadFile() {
        var InsuredName = jQuery("#InsuredName").val();
        var InsuredCarNo = jQuery("#InsuredCarNo").val();
        var InsurancePolicy = jQuery("#InsurancePolicy").val();
        var result = InsuredName + InsuredCarNo + InsurancePolicy + "";
        if (result.trim().length <= 0) {
            jQuery("#ddError").html("若要下载请至少填写一个查询条件");
            return false;
        }

        jQuery("#aXiaZai").attr("href", "GetInscuranceDetailList?InsuredName=" + InsuredName + "&InsuredCarNo=" + InsuredCarNo + "&InsurancePolicy=" + InsurancePolicy);

    }

</script>
