@{
    ViewBag.Title = "投保文件列表:" + ViewBag.FileTypeName;
    bool isRoleMemberCard = User.IsInRole("MemberCard");
}


<div class="Search">
    <dl>
        @if (isRoleMemberCard)
        {
            <dt></dt>
            <dd>
                <p>  @Html.ActionLink("数据上传", "MemberInscuranceCreate", new { fileType = ViewBag.FileType, ViewBag.FileTypeName }, new { @class = "btn btn-primary", style = "margin-left:0.5em;width:90%" })</p>
            </dd>
        }
        <dt>
        </dt>
        <dd>
            <p>  @Html.ActionLink("保险清单", "MemberInscuranceDetailSearch", new { ViewBag.FileType, ViewBag.FileTypeName }, new { @class = "btn btn-primary", style = "margin-left:0.5em;width:90%" })</p>
        </dd>
    </dl>
    <p class="clearfix"></p>
</div>
@using (Ajax.BeginForm("MemberInscuranceList", null, new AjaxOptions { HttpMethod = "get", UpdateTargetId = "dadaGrid" }, new { @class = "form-inline", role = "form", id = "searchForm" }))
{
    <input type="hidden" id="fileType" name="fileType" value="@ViewBag.FileType" />
    <div id="dadaGrid">
        @Html.Action("MemberInscuranceList", new { ViewBag.FileType })
    </div>
}

