@model Models.VCheckProductDetail
<div class="product_detail">
    <ul class="main_tabs">
        <li class="current" data-tar="info"><a>商品介绍</a></li>
        <li data-tar="shop"><a>支持门店</a></li>
        <li data-tar="order"><a>购买 / 预约流程</a></li>
        <li data-tar="rule"><a>体检须知</a></li>
        @*<li data-tar="comment"><a>商品评价</a></li>*@
    </ul>
    <!--商品介绍-->
    <div class="product_info">
        <ul class="detail_list">
            <li>@Model.ProductName</li>
            <li>品牌：<b>保酷</b></li>
            <li>使用限制：<span>不记名、不挂失、不兑现</span></li>
            <li>卡片形式：电子卡或实体卡</li>
            <li>适用门店：所有合作机构</li>
            <li>预约方式：<span>在线预约、电话预约</span></li>
            <li>有效期：<span>1年</span></li>
        </ul>
        <div class="detail_content">
            <div class="t">
                <h2><i class="fa fa-street-view"></i>套餐特点</h2>
            </div>
            <div class="detail_content_info">
                <p><b>适应人群：</b>企业职工；企业年度体检 员工身体健康普查套餐,适合企业向员工提供年度福利体检,便于企业对员工的群体健康状况作出基本的分析和判断。该套餐比较全面的对身体各系统做了初步体检,可以查出自觉健康人群存在的健康隐患,能够做到常见疾病的早发现、早预防、早治疗。</p>
            </div>
            <div class="t">
                <h2><i class="fa fa-hand-o-down"></i>套餐项目</h2>
            </div>
            <div class="detail_content_content fixck">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2" rowspan="2">项目</th>
                            <th rowspan="2">临床意义</th>
                            <th rowspan="2">男性</th>
                            <th colspan="2">女性</th>
                        </tr>
                        <tr>
                            <th>未婚</th>
                            <th>已婚</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>一般检查</td>
                            <td>身高、体重、体温、血压、脉搏、呼吸</td>
                            <td>常规检查了解人体一般情况</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>内科检查</td>
                            <td>心脏.肺部.外围血管.腹部（肝.脾）触诊</td>
                            <td>心肺有无异常   肝脾有无肿大、腹部有无包块等</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>外科检查</td>
                            <td>淋巴结.甲状腺.腹部.四肢.关节.脊柱.肛门指诊</td>
                            <td>淋巴结有无肿大，甲状腺、乳房、外生殖器、前列腺、肛肠有无异常、四肢脊柱有无畸形等</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>眼科检查</td>
                            <td>视力</td>
                            <td>视力检查，有无色盲，有无沙眼、结膜炎等。</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>五官科检查</td>
                            <td>耳鼻、鼻咽、口咽、喉颈</td>
                            <td>耳、鼻、咽等有无异常（中耳炎、鼓膜穿孔、扁桃体肿大）</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>血常规</td>
                            <td>血常规检查(18小项)</td>
                            <td>可提示：小细胞性贫血，巨幼细胞贫血，恶性贫血，再生障碍性贫血，溶血性贫血，白血病，粒细胞减少，血小板减少，淋巴细胞减少，感染等。</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>尿常规</td>
                            <td>尿常规检查(13小项)</td>
                            <td>可提示有无泌尿系统疾患：如急、慢性肾炎，肾盂肾炎，膀胱炎，尿道炎，肾病综合征，狼疮性肾炎，血红蛋白尿，肾梗塞、肾小管重金属盐及药物导致急性肾小管坏死，肾或膀胱肿瘤以及有无尿糖等</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>肝功能</td>
                            <td>丙氨酸氨基转移酶(ALT)</td>
                            <td>是检查肝细胞有无受损的敏感指标，升高可提示肝胆系统疾病：如急性传染性肝炎，中毒性肝炎、药物中毒性肝炎。</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td rowspan="2">肾功能</td>
                            <td>尿素氮(BUN)</td>
                            <td>可提示有无肾功能损害：如慢性肾炎，肾盂肾炎，肾结核，肾肿瘤，尿毒症等。</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td style="display:none"></td>
                            <td>肌酐</td>
                            <td>评判肾功能异常的指标</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>心电图</td>
                            <td>静态心电图检查(EKG)</td>
                            <td>平躺静息状态，反应心脏功能。可检出有无心率失常，心肌缺血，心肌梗死等疾病。</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>X线</td>
                            <td>胸部X光(正位)</td>
                            <td>有无肺部疾病及心脏、主动脉、纵膈、横膈疾病等</td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                        <tr>
                            <td>报告解读</td>
                            <td></td>
                            <td></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                            <td><i class="fa fa-star"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--支持门店-->
    <div class="product_shop">
        <div class="t">
            <h2><i class="fa fa-hospital-o"></i>支持门店</h2>
        </div>
        <div class="product_shop_content fixck">
            <table>
                <thead>
                    <tr>
                        <th rowspan="2">城市</th>
                        <th colspan="4">基本信息</th>
                    </tr>
                    <tr>
                        <th>分院名称</th>
                        <th>地址</th>
                        <th>日常营业时间</th>
                        <th>交通路线</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="14">北京</td>
                        <td>爱康国宾北京丽都分院</td>
                        <td>北京市朝阳区将台路丽都饭店5号商业楼三层</td>
                        <td>周二至周日（07:40-15:00）</td>
                        <td>
                            <p>
                                公交：乘408、416、420、657、667、701、967路、运通104、107路至丽都饭店下车，进入丽都饭店，商业5号楼。
                            </p>
                            <p>
                                自驾：沿四元桥向东，京顺路丽都饭店路口右转前行三百米；
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京建国门分院</td>
                        <td>北京市朝阳区建华南路17号现代柏联大厦二层</td>
                        <td>周二至周日（07:40-15:00）</td>
                        <td>
                            <p>
                                地铁：1号线或2号线至建国门站下（C口出）步行至建华南路，南500米路西即可
                            </p>
                            <p>
                                公交：乘408、416、420、657、667、701、967路、运通104、107路至丽都饭店下车，进入丽都饭店，商业5号楼。
                            </p>
                            <p>
                                自驾：广播电台东至建华南路，向南500米
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京中关村分院(7F)</td>
                        <td>北京市海淀区中关村一街2号鸿城拓展大厦7层</td>
                        <td>周二至周日（07:40-15:00）</td>
                        <td>
                            <p>
                                地铁：乘地铁10号线海淀黄庄，换乘4号线至中关村西下车（D口出），步行至善缘街即可。
                            </p>
                            <p>
                                公交：乘坐26、47、641、718、751、808、944支、963、运通105路至中关村西下车，步行前往善缘（中芯大厦）向南；
                            </p>
                            <p>
                                自驾：中芯大厦南，鼎好大厦西门，中信银行（首创大厦）即可;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京中关村分院(9F)</td>
                        <td>北京市海淀区中关村一街2号鸿城拓展大厦9层</td>
                        <td>周一至周六（07:40-15:00）</td>
                        <td>
                            <p>
                                地铁：乘地铁10号线海淀黄庄，换乘4号线至中关村西下车（D口出），步行至善缘街即可。
                            </p>
                            <p>
                                公交：乘坐26、47、641、718、751、808、944支、963、运通106路至中关村西下车，步行前往善缘（中芯大厦）向南；
                            </p>
                            <p>
                                自驾：中芯大厦南，鼎好大厦西门，中信银行（首创大厦）即可;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京燕莎东分院</td>
                        <td>北京市朝阳区南十居28号东润枫景</td>
                        <td>周二至周日（07:40-15:00）</td>
                        <td>
                            <p>
                                公交：乘坐408、413、424、445、656、937路至南十里居下车，步行至东风南路，向西至东润枫景小区即可
                            </p>
                            <p>
                                自驾：四环亮马加油站北100米，东风南路向西800米东润枫景小区;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京宣武门分院</td>
                        <td>北京宣武门外大街甲1号，环球财讯中心D座M层</td>
                        <td>周一至周六（07:40-15:00）</td>
                        <td>
                            <p>
                                地铁：乘地铁2或4号线至宣武门下车（D出口）;
                            </p>
                            <p>
                                公交：乘54、70、102、105、109、646路至宣武门外下车，步行至宣武门十字路口西南角；
                            </p>
                            <p>
                                自驾：宣武大街西南，至中国供销集团即环环财讯中心大楼即可;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京西直门分院</td>
                        <td>北京市西城区西直门南大街2号成铭大厦D座5层</td>
                        <td>周二至周日（07:40-15:00）</td>
                        <td>
                            <p>
                                地铁：乘地铁4号线从西直门站C口出即到。
                            </p>
                            <p>
                                公交：乘80路、特12外、44、外939、604、691、694、392、387、693、21、618、562、490、84、106、632西直门外111路，105路、27路，608路西直门南，即到。
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京亚运村分院</td>
                        <td>北京市朝阳区慧忠北里105楼B段京师科技大厦第二层</td>
                        <td>周二至周日（07:40-15:00）</td>
                        <td>
                            <p>
                                地铁：临近地铁5号线（大屯东站），修建中的地铁15号线（安立路站）;
                            </p>
                            <p>
                                公交：乘坐120路、126路、28路、403路、43路、639路、673路 到 永安里路口北 下车步行285米;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京白石桥分院</td>
                        <td>北京市海淀区中关村南大街32号中关村科技发展大厦6层</td>
                        <td>周一至周六（07:40-15:00）</td>
                        <td>
                            <p>
                                乘地铁4号线至国家图书馆站下车，或乘209路、319路、320路、332路、634路、716路、特4公交车，中央民族大学站下车即到;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾北京公主坟分院</td>
                        <td>北京市海淀区西三环中路19号国宜广场三层东侧及一层大厅</td>
                        <td>周一至周六（07:40-15:00）</td>
                        <td>
                            <p>
                                地铁：地铁1号线(苹果园方向), 在 公主坟站 下车(D口出) 步行至 国宜广场。
                            </p>
                            <p>
                                公交：613路、337路、94路、40路、52路、68路、99路、373路、运通102路、414路、89路、运通120路、323路公主坟东下车步行至国宜广场即可。
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>阳光京朝门诊部-郡王府</td>
                        <td>北京市朝阳区朝阳公园南路21号</td>
                        <td>8：00-12：00</td>
                        <td>
                            <p>
                                公交：朝阳公园东门站  地铁10线号团结湖站下车，任意公交车
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>阳光京西门诊部-西单</td>
                        <td>北京市西城区复兴门外大街A2号1幢F2层225号</td>
                        <td>8：00-12：00</td>
                        <td>
                            <p>
                                地铁：地铁1号线，南礼士路站下车。西南口;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>阳光-知春路</td>
                        <td>北京市海淀区知春路甲48号4号楼三层3-029号</td>
                        <td>8：00-12：00</td>
                        <td>
                            <p>
                                地铁：地铁10号线与13号线交汇处  知春路站   B口;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>阳光-丰台</td>
                        <td>北京市丰台区丰台科学城航丰路8号2幢楼一层</td>
                        <td>8：00-12：00</td>
                        <td>
                            <p>
                                地铁：地铁10号线 西局站出，乘坐公交477、480、969 科丰桥南下车即到;
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="9">上海</td>
                        <td>爱康国宾上海古北分院</td>
                        <td>上海市长宁区天山路1900号四楼</td>
                        <td>周一至周日（07:45~15:30）</td>
                        <td>
                            <p>
                                古羊路：69、149<br>
                                虹许路：莘仙线、757<br>
                                虹桥路：925、925B、911、936、945<br>
                                延安路：57
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾上海浦东大道分院</td>
                        <td>上海市浦东大道2554号三楼</td>
                        <td>
                            旺季：周一至周日<br>
                            淡季：周二至周日<br>
                            （工作日：07:45~15:30<br>
                            双休日：07:45~11:00）
                        </td>
                        <td>
                            <p>
                                85路、610路、639路、794路、981路、455路（原申陆专线）、170路、573路、971路、993路、施崂专线、钦东专线、新川专线、上川专线;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾上海杨浦五角场分院</td>
                        <td>上海市杨浦区国宾路36号万达国际广场5楼</td>
                        <td>
                            旺季：周一至周日<br>
                            淡季：周二至周日<br>
                            （工作日：07:45~15:30<br>
                            双休日：07:45~11:00）
                        </td>
                        <td>
                            <p>
                                139、102、61、59、713、991、910、55、819、168、99、850、842、559、854、942、937、817、大桥三线、大桥五线、地铁10号线（五角场站）;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾上海陆家嘴分院</td>
                        <td>上海市浦东新区商城路1900号，近桃林路</td>
                        <td>
                            旺季：周一至周日<br>
                            淡季：周一至周六<br>
                            （工作日：07:45~15:30<br>
                            双休日：07:45~11:00）
                        </td>
                        <td>
                            <p>
                                地铁：6号线（源深体育中心站1号出口）;
                            </p>
                            <p>
                                公交：81路、974路、774路、981路、971路、797路、陆川线、上川线、新川线、沪华线、申陆线、783路、630路、626路、736路、961路、791路;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾上海中山公园南延安西路分院</td>
                        <td>上海市长宁区定西路1018号2层</td>
                        <td>
                            旺季：周一至周日<br>
                            淡季：周二至周日<br>
                            （工作日：07:45~15:30<br>
                            双休日：07:45~11:00）
                        </td>
                        <td>
                            <p>
                                地铁：3号线、4号线(延安西路站）；
                            </p>
                            <p>
                                公交：776路、946路、925线、936路、127路、96路、57路、71路、44路;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾上海曹家渡一品分院</td>
                        <td>上海市静安区康定路1437号鑫康苑2楼</td>
                        <td>
                            旺季：周一至周日<br>
                            淡季：周二至周日<br>
                            （工作日：07:45~15:30<br>
                            双休日：07:45~11:00）
                        </td>
                        <td>
                            <p>
                                忻康里站：23路、824路空调、935路空调<br>
                                曹家渡站：13路空调、54路空调、316路空调、327路空调、941路空调、45路空调、136路空调、321路空调、765路空调、951路空调、世博25路
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾上海中环一品分院</td>
                        <td>上海市普陀区真光路1288号百联中环购物广场4层（观8电梯上）</td>
                        <td>
                            旺季：周一至周日<br>
                            淡季：周一至周六<br>
                            （工作日：07:45~15:30<br>
                            双休日：07:45~11:00）
                        </td>
                        <td>
                            <p>
                                真光路梅川路站：727路空调、827路空调、807路空调、947路空调<br>
                                梅川路真北路站：837路空调、948路空调、876路空调、长征1路空调
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾上海西藏南路老西门分院</td>
                        <td>上海市黄浦区西藏南路768号4层</td>
                        <td>
                            旺季：周一至周日<br>
                            淡季：周一至周六<br>
                            （工作日：07:45~15:30<br>
                            双休日：07:45~11:00）
                        </td>
                        <td>
                            <p>
                                地铁：8号、9号、10号线
                            </p>
                            <p>
                                公交：大桥一线、782、18、18、23、318、454、715、771、802、969、24
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾上海外滩延安东路分院</td>
                        <td>上海市黄浦区江西南路29号2层</td>
                        <td>
                            旺季：周一至周日<br>
                            淡季：周一至周六<br>
                            （工作日：07:45~15:30<br>
                            双休日：07:45~11:00）
                        </td>
                        <td>
                            <p>
                                地铁：10号线（豫园站1号出口）
                            </p>
                            <p>
                                公交：26路、926路、320路、隧道三线、127路、17路、上川线
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="3">广州</td>
                        <td>爱康国宾广州环市东分院</td>
                        <td>广州市环市东路496号广发花园大厦3、4楼</td>
                        <td>
                            周一至周六
                        </td>
                        <td>
                            <p>
                                公车：221、287、137、301、545、133、191、209、245、810、886、549、233、280、B2、B2A、B3、B3A、B3B、B10至动物园南门站下。地铁5号线（动物园站 B、C出口）
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾广州天河分院</td>
                        <td>广州市天河区东方一路华港花园20-24号3层</td>
                        <td>
                            周一至周六
                        </td>
                        <td>
                            <p>
                                公交：乘坐路线B1、B2、B2A、B3、B3A、B3B、B3C、B4、B4A、B4B、B5、B6、B12、B13、B16、B17、B20、B21、B25、B27（到华景新城站下）或B9、B11（到东方一路口站下）
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾广州珠江新城沃康体检分院</td>
                        <td>广州市天河区珠江新城花城大道1号5层</td>
                        <td>
                            周一至周六
                        </td>
                        <td>
                            <p>
                                乘坐路线122、183、195、204、252、301、303、305、836、882、B21、51、B9（南方报社站下）或138、194、407、778、811、B22、40、44（花城大道站下），3号线珠江新城A2出口或5号线五羊邨C出口.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="4">深圳</td>
                        <td>爱康国宾深圳南山分院</td>
                        <td>深圳南山区东滨路汇滨广场二期裙楼1-3层</td>
                        <td>
                            周二至周日（08:00-16:00）
                        </td>
                        <td>
                            <p>
                                公交:22、373、210、229、M241、79、B688、B727路<br>
                                自驾：南山大道路口沿东滨路至汇滨广场即可
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾深圳福田分院</td>
                        <td>深圳福田区滨河路北彩田路东交汇处联合广场B座裙楼B201/203</td>
                        <td>
                            周二至周日（08:00-16:00）
                        </td>
                        <td>
                            <p>
                                途经公交车：26, 28, 52, 73, 109, 229, 235, 338, 367, 382, j1, k548, k568, 高峰专线21, 机场9线
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾深圳罗湖分院</td>
                        <td>深圳市罗湖区宝安南路3044号天地大厦1、3层</td>
                        <td>
                            周二至周日（08:00-16:00）
                        </td>
                        <td>
                            <p>
                                59路、336路、366路、80路、313路、207路、18路等到天地大厦站或西湖宾馆站
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾深圳科兴分院</td>
                        <td>深圳市南山区高新科技园中区科苑路科兴科学院B座3单元3A层</td>
                        <td>
                            周二至周日（08:00-16:00）
                        </td>
                        <td>
                            <p>
                                公交：209\233\236\339\36\49\81、B814\B839、E19、E9、M229、至科苑北站下车<br>
                                地铁路线：1号罗宝线深大站A4出口步行900米
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="3">南京</td>
                        <td>爱康国宾南京鼓楼分院</td>
                        <td>南京市中央路19号金峰大厦3、4楼</td>
                        <td>
                            周二至周日（07:30-16:30）
                        </td>
                        <td>
                            <p>
                                公交车：游1、1路、3路、33路、35路、38路、46路、25路、28路鼓楼北站下，16路、31路、34路、100路、67路鼓楼站下，95路、152路湖北路南站下;<br>
                                地铁一号线鼓楼站下4A出口。
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾南京新街口分院</td>
                        <td>南京市白下区中山东路145号全民健身中心19F</td>
                        <td>
                            周一至周六（07：30-16：30）
                        </td>
                        <td>
                            <p>
                                公交1路、3路、5路、9路、25路、51路、805路新街口东站下，地铁一号线新街口下、二号线大行宫下。
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>南京爱康国宾江宁分院</td>
                        <td>南京市江宁区双龙大道1118号新都汇广场2层</td>
                        <td>
                            周二至周日（07:30-16:30）
                        </td>
                        <td>
                            <p>
                                公交车：701路、D8路、851路河定桥站下；709路、821路、829路河定桥南站下；704路河定桥西站下；<br>
                                地铁一号线（中国药科大学方向)： 河定桥站下，1号出口.
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="4">成都</td>
                        <td>爱康国宾成都外双楠分院</td>
                        <td>成都市二环路西一段置信路1号</td>
                        <td>
                            周一至周六
                        </td>
                        <td>
                            <p>
                                乘车路线：乘坐343,K1 ,K2,100,111,809,318到二环路少陵路口；乘坐408,42,21,151到逸都路东；
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>成都红照壁航天科技分院</td>
                        <td>成都市人民南路一段新光华街7号航天科技大厦5层</td>
                        <td>
                            周日到周五
                        </td>
                        <td>
                            <p>
                                乘车路线：乘坐118,16,213,26,300,334,45,61,78到人民南路一段下车步行64米；乘坐1,306,335到新光华街下车步行66米；乘坐104,334,43,47,62到东御街下车步行81米；<br>
                                地铁路线：一，二号线在天府广场站下车（E口出），步行约7分钟；一号线在锦江宾馆站下车（C2口出），步行约4分钟。
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾成都城南分院</td>
                        <td>成都市高新区天府大道中段天府三街新希望国际C座3楼</td>
                        <td>
                            周一至周六
                        </td>
                        <td>
                            <p>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾成都安生美分院</td>
                        <td>成都市高新区天韵路高新国际广场D座3楼</td>
                        <td>
                            周一至周六
                        </td>
                        <td>
                            <p>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="3">杭州</td>
                        <td>爱康国宾杭州西溪分院</td>
                        <td>杭州市西湖区文二西路718号西溪创意大厦1F、2F</td>
                        <td>
                            周二至周日（07:30-11:30）
                        </td>
                        <td>
                            <p>
                                公交86、83、130合建村南站下车；118将村兴达苑下车
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾杭州文晖分院</td>
                        <td>杭州市下城区文晖路108号浙江出版物资大厦2层</td>
                        <td>
                            周二至周日（07:30-11:30）
                        </td>
                        <td>
                            <p>
                                公交74、90、179、591文晖大桥西下车；<br>
                                地铁1号线打铁关站 文晖路出口
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾杭州滨江江南大道分院</td>
                        <td>杭州市滨江区江南大道588好恒鑫大厦裙楼2楼</td>
                        <td>
                            周二至周日（07:30-11:30）
                        </td>
                        <td>
                            <p>
                                公交137、107、138江二村下车
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>福州</td>
                        <td>爱康国宾福州鼓楼分院</td>
                        <td>福州市鼓楼区六一北路328号金源花园三层</td>
                        <td>
                            周二到周日
                        </td>
                        <td>
                            <p>
                                东水路口站（往返路线）：9 路，11路，27 路，72路，78路，106路，118路，133路，317路，310路，130路<br>
                                东  门 站（往返路线）：130路，K2 路，17路，23路，107路，62路，202路，318路，9路，27路，23路，202路，166路，318路，64路<br>
                                塔  头 站（往返路线）：11路，46路，70路，72路，108路，118路，130路，310路，317路，318路，64路，322路，508路
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="4">天津</td>
                        <td>爱康国宾天津南京路吉利大厦体检分院</td>
                        <td>天津市和平区南京路209号吉利大厦9层</td>
                        <td>
                            周二到周日
                        </td>
                        <td>
                            <p>
                                公交：3路、631路、632路、643路、657路、659路、669路、673路、840路、842路、847路、851路、865路、867路、906路、954路、观光2路、45路、641路、678路、503路、650路、50路、606路、600路、35路滨江道站下车<br>
                                地铁:地铁一号线和地铁三号线营口道站B口出站
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾天津东润大厦体检分院</td>
                        <td>天津市河东区六纬路与大直沽八号路交口东侧东润名邸3号楼401</td>
                        <td>
                            周二到周日
                        </td>
                        <td>
                            <p>
                                公交：91路 840路 机场专线5路<br>
                                地铁：津滨轻轨地铁9号线 东兴路站B出站口
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾天津峰汇分院</td>
                        <td>河西区围堤道103号峰汇广场B座5楼(近友谊路)</td>
                        <td>
                            周二到周日
                        </td>
                        <td>
                            <p>
                                公交：48路; 48路区间; 95路; 175路; 662路; 677路; 677路区间; 698路; 855路; 872路; 908路; 963路; 968路
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾天津合众分院</td>
                        <td>天津市河西区友谊北路合众大厦C座4层</td>
                        <td>
                            周二到周日
                        </td>
                        <td>
                            <p>
                                公交：608、826、906（绍兴道下）；858、954（罗马花园下）
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>苏州</td>
                        <td>爱康国宾苏州东环体检分院</td>
                        <td>苏州市工业园区东环路1408号东环时代广场2楼201</td>
                        <td>
                            （周二至周日）07：30-11：30
                        </td>
                        <td>
                            <p>
                                轨道交通1号线东环路站下；<br>
                                公交车相门新村下。
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>重庆</td>
                        <td>爱康国宾重庆黄泥磅体检分院</td>
                        <td>重庆市渝北区洋河东路1号长安丽都揽胜国际广场二层</td>
                        <td>
                            周一至周六（08：00-15:00）
                        </td>
                        <td>
                            <p>
                                公交路线：<br>
                                1、长安华都站<br>
                                坐110、111、141、149、151、323、354、419、421、607、617、841、868到长安华都站下<br>
                                2、红土地立交北站<br>
                                坐202、270、601、611到红土地立交北站下<br>
                                3、红土地立交西站[否专厂]<br>
                                坐110、111、149、151、202、270、323、419、461、601、604、607、611、868红土地立交西站下<br>
                                4、北汽城站<br>
                                坐461、604、617到北汽城站下
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>长春</td>
                        <td>爱康国宾长春亚泰鸿城西域体检分院</td>
                        <td>吉林省长春市亚泰大街6988号</td>
                        <td>
                            周二-周六：7.20-15.00<br>
                            周日：7.20-11.30
                        </td>
                        <td>
                            <p>
                                公交：乘坐246路270路5路88路 到 南岭小学 下车步行73米<br>
                                乘坐120路副线120路正线154路218路238路 到 亚泰大街 下车步行203米
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>常州</td>
                        <td>爱康国宾常州通江南路体检分院</td>
                        <td>常州市通江南路238-2号爱特大厦F层</td>
                        <td>
                            周二至周日（07:30-14:30）
                        </td>
                        <td>
                            <p>
                                B1/B12/B13/B16到通江路飞龙路站下，往北500米
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>江阴</td>
                        <td>爱康国宾江阴临港体检分院</td>
                        <td>江阴市临港新城中央商务区CBD苏港路99号（国检大楼1-2楼）</td>
                        <td>
                            周一至周六（07:30-11:00）
                        </td>
                        <td>
                            <p>
                                公交车37路、101路、102路、128路、118路口岸大厦下
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="2">沈阳</td>
                        <td>沈阳爱康国宾医院太原街分院（待开通）</td>
                        <td>沈阳市和平区太原南街236号</td>
                        <td>
                            周一至周六（08：00-11:00）
                        </td>
                        <td>
                            <p>
                                太原南街站：117、226、202、149、铁西二线<br>
                                新华广场站：231、115、327、324、296、266、西走100米<br>
                                民族南街站：135、239、261、134、257、297、预备役号 南走200米<br>
                                东北汽配商贸中心(公交站)：203、206、257 、262路 东走200米
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>沈阳爱康国宾医院松花江街分院（待开通）</td>
                        <td>沈阳市皇姑区区松花江街27号</td>
                        <td>
                            周一至周六（08：00-11:00）
                        </td>
                        <td>
                            <p>
                                宁山路小学站：136、157、227、228、265、271、325、328、399<br>
                                北陵电影院站： 106、116、184、280、281、 290、292 东走500米<br>
                                北陵电影院站： 106、116、184、280、281、 290、292 东走500米<br>
                                华商晨报站： 162、213、245、279、299 南走600米
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>银川</td>
                        <td>银川国贸体检分院</td>
                        <td>银川市兴庆区文化西街106号国贸中心B座4层</td>
                        <td></td>
                        <td>
                            <p>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>潍坊</td>
                        <td>潍坊新华路分院</td>
                        <td>潍坊市奎文区民生东街88号</td>
                        <td>周一-周六（7：40-12:00）</td>
                        <td>
                            <p>
                                新华路民生东街站：22、32、53、55、65
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="3">烟台</td>
                        <td>爱康国宾烟台莱山区港城东大街体检分院</td>
                        <td>烟台市莱山区港城东大街588号三城国际副楼</td>
                        <td>周二至周日（旺季07:00-11:30淡季7:30-11:30）</td>
                        <td>
                            <p>
                                市委党校、海悦大厦站：56、19、K1<br>
                                广播电台站：10、17、23、51、52、62、567西行200米
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾烟台开发区长江路体检分院</td>
                        <td>烟台市经济技术开发区长江路97号国家羽毛球训练基地</td>
                        <td>周一至周日（旺季07:00-11:30淡季7:30-11:30）每周三休息</td>
                        <td>
                            <p>
                                开发区21路车,201路小苗家区间车,201路小苗家区间，到“正邦创业园”站下车
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>爱康国宾烟台芝罘区南大街体检分院</td>
                        <td>烟台市芝罘区毓璜顶北路96号（沃尔玛超市往南100米）</td>
                        <td>周一至周日（旺季07:00-11:30淡季7:30-11:30）每周二休息</td>
                        <td>
                            <p>
                                （中心广场）：1路2路5路45路62路下车东行50米，十字路口南行150米<br>
                                （南大街鑫荟金行）：1路2路5路45路下车西行100米，十字路口南行150米<br>
                                （振华购物中心）：10路21路22路42路43路44路62路80路86路51路下车西行300米，十字路口南行150米<br>
                                （海港路·名钻行）：9路10路21路22路42路43路44路51路80路86路下车南行120米，十字路口南行150米
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>威海</td>
                        <td>威海滨海分院</td>
                        <td>威海市海滨北路附36号</td>
                        <td>周二至周日（7:30-11:30）每周一休息</td>
                        <td>
                            <p>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>武汉</td>
                        <td>武汉爱康阳光门诊部</td>
                        <td></td>
                        <td></td>
                        <td>
                            <p>
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>长沙</td>
                        <td>长沙爱康阳光门诊部</td>
                        <td>长沙市雨花区芙蓉中路三段509号中远公馆101房</td>
                        <td>周一至周六（08:00—12:00）</td>
                        <td>
                            <p>
                                公交：123、703、912、915（新建西路口）701、105、115、140、803（麻园塘）4、104、150、702、804、905、908（涂家冲站下南走200米）
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>佛山</td>
                        <td>爱康国宾佛山千灯湖体检分院</td>
                        <td>佛山市南海区桂城灯湖东路1号友邦金融金融中心1座25层及2606</td>
                        <td>周一至周六（08:00—12:00）</td>
                        <td>
                            <p>
                                地铁：广州地铁1号线西朗站-换乘广佛地铁-千灯湖站（C出口）下车-友邦金融中心专车接驳巴士/步行约1.3公里<br>
                                公交：南海车站（家天下广场）-桂07/桂27/桂16（友邦金融中心）下车
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>宁波</td>
                        <td>爱康国宾宁波鼓楼分院</td>
                        <td>宁波市海曙区中山西路2号恒隆中心西裙楼3层（蔡家巷6,16号）</td>
                        <td>周一至周六（07:30-11:30）</td>
                        <td>
                            <p>
                                乘车路线：可乘坐公交2、3、14、12、4-1、14-2、15、19、202、380、504、515、528、804、809、820路，鼓楼站下车，6、30、118、305、363、380、501、527、812、819路，府桥街站下车；地铁1、2号线，鼓楼站F出口
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td rowspan="3">西安</td>
                        <td>西安爱康高新分院</td>
                        <td>西安市沣惠南路北段恬静园四层（特警支队北侧50米路西）（西安市雁塔区南二环西端南侧恬静园1幢1单元10403室）</td>
                        <td>周二—周日（早8：00-12:00）</td>
                        <td>
                            <p>
                                216路、2路终点站“特警支队”站下车，向北50米路西
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>西安爱康经开分院</td>
                        <td>未央大道199号美豪酒店3层（西安市委旁）（西安经济技术开发区未央路199号聚泽酒店三层）</td>
                        <td>周二—周日（早8：00-12:00）</td>
                        <td>
                            <p>
                                乘坐228、230、619、318、509、207到行政中心下车，美豪酒店3楼
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>西安爱康曲江分院</td>
                        <td>慈恩西路南段曲江六号1-3层（大唐不夜城旁）（西安曲江新区环塔西路曲江六号小区29号楼10101室）</td>
                        <td>周二—周日（早8：00-12:00）</td>
                        <td>
                            <p>
                                ①乘坐“12路、26路、27路、44路、407路、503路、720路、722路”到“钟研所”下车，“钟研所十字”向东步行至“慈恩西路十字”,十字路口向南50米路西即到<br>
                                ②乘坐“21路、22路、23路、24路、44路、212路、224路、407路、500路、”到“雁南路”下车，向西步行至“慈恩西路十字”,十字路口向南50米路西即到<br>
                                ③乘坐“242路、715路、720路、722路、”到“大唐不夜城”下车，向西步行至“慈恩西路十字”,十字路口向南50米路西即到
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td>芜湖</td>
                        <td>爱康国宾镜湖分院</td>
                        <td>芜湖市黄山中路64号鼎湖1876国际旅游文化广场2号楼F层</td>
                        <td>周二至周六（07：30-12:00）</td>
                        <td>
                            <p>
                                公交：9路、12路、32路 、34路、 28路、 46路至荟萃中学，步行30米
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!--预约流程-->
    <div class="product_order">
        <div class="t">
            <h2><i class="fa fa-paper-plane"></i>购买/预约流程</h2>
        </div>
        <div class="product_order_content">
            <ul>
                <li>
                    <div class="describe_name text-left-again">购买及使用方式</div>
                    <img src="../../../Content/imgIndex/orderflow_1.png" alt="Alternate Text" />
                </li>
                <li>
                    <div class="describe_name text-left-again">体检服务预约方式</div>
                    <img src="../../../Content/imgIndex/orderflow_2.png" alt="Alternate Text" />
                </li>
                
            </ul>
        </div>
    </div>

    <!--体检须知-->
    <div class="product_rule">
        <div class="t">
            <h2><i class="fa fa-tint"></i>体检须知</h2>
        </div>
        <div class="product_rule_content fixck">
            <p class="product_rule_leader"><span>一、饮食原则</span></p>
            <ul>
                <li>体检前三天应注意饮食均衡，如需做大便潜血检查需素食饮食，避免吃血制品、动物内脏、菠菜等。</li>
                <li>体检前一天清淡饮食,勿饮酒、喝浓茶和咖啡,不要吃对肝、肾功能有损害的药物(降压药、降糖药除外)，晚八点后禁食，保证空腹10-12小时抽血检验。</li>
                <li>体检前一天要注意休息，避免过度疲劳、剧烈运动和情绪激动，以免影响体检结果。</li>
                <li>体检的当日晨禁食、禁水，在抽血、腹部彩超、碳13检查后方可进食；如患有糖尿病、冠心病、高血压等慢性疾病，请正常服药（少量水），并告知医生。</li>
                <li>体检当日请着宽松轻便服装，不要穿带金属扣的内衣、不要佩戴首饰，以免影响放射检查；请勿携带贵重物品。</li>
                <li>抽血时间最好在早上8点至9点，最迟不宜超过10点半，以保证检验结果的准确性。</li>
            </ul>
            <p><br></p>
            <p class="product_rule_leader"><span>二、女性注意</span></p>
            <ul>
                <li>怀孕或可能已受孕的女性，请预先告知医护人员，避免进行X光检查、宫颈涂片和TCT检查。</li>
                <li>月经期间不宜参检，可另行预约参检日期。如参检，应避免做尿常规、便常规、妇科检查及妇科彩超。 妇科及经阴彩超需在月经干净后5-7天进行，受检前一天禁阴道用药，避免性生活。</li>
                <li>未婚妇女不做阴道内诊和宫颈涂片。</li>
                <li>做盆腔彩超时需憋尿，做完空腹项目（抽血、腹部彩超）后到餐饮区进早餐并饮水400至600 ml以使膀胱充盈。</li>
                <li>妇科检查需排空小便，若盆腔彩超和妇科检查都做，请先做妇科彩超再进行妇科检查或在做完空腹项目后即检查妇科，然后进餐并饮水使膀胱充盈后再做盆腔彩超。</li>
                <li>是否接受阴道内诊及TCT 检查，请提前告医护人员。</li>
            </ul>
            <p><br></p>
            <p class="product_rule_leader"><span>三、特殊人群</span></p>
            <ul>
                <li>患有糖尿病、冠心病等慢性病患者，请随身携带常规（急救）药品。</li>
                <li>做餐后2小时血糖者，做完空腹项目后吃二两馒头（从吃第一口计时）2小时后抽血。</li>
                <li>体检时请向医生告知您的不适和曾患疾病，以便注意重点检查、综合分析和评估。</li>
            </ul>
            <p><br></p>
            <p class="product_rule_leader"><span>四、检前注意事项：</span></p>
            <ul>
                <li>不宜预约的几种情况： A发热；B患上呼吸道感染或其他已确诊的传染性疾病；有以上情况者，建议您痊愈后再另行预约参检日期。</li>
                <li>患有严重疾病或行动不便者不宜参检。</li>
                <li>老年人、儿童参检需由家人陪同。</li>
            </ul>
            <p><br></p>
            <p class="product_rule_leader"><span>五、检中注意事项：</span></p>
            <ul>
                <li>体检时请合理安排好您的体检流程，最好先查空腹项目(抽血、腹部彩超、碳13检查)，再做其他项目检查。</li>
                <li>眼科检查时，请告知医生是否配带隐形眼镜；做心电图和测量血压时请保持安静，避免精神紧张和情绪激动。</li>
                <li>体检当天可提前留置便标本,以蚕豆大小为宜；留取尿标本时最好留晨尿，以留取半杯为宜。</li>
                <li>体检过程中有问题请及时与医生联系，不要擅自更改体检项目，也不要遗漏您的任何一项检查；如须增加体检项目，应主动与前台联系，酌情考虑后自主增加。</li>
                <li>体检时请向医生告知您的不适和曾患疾病，以便注意重点检查、综合分析和评估。</li>
                <li>体检过程中如有糖尿病不能耐受低血糖或年老行动不便时，请告知导医，以便优先体检。</li>
            </ul>
            <p><br></p>
            <p class="product_rule_leader"><span>六、检后注意事项：</span></p>
            <ul>
                <li>全部检查项目完毕后请您务必将体检表交到前台。</li>
                <li>请您认真听取医生的建议,及时复查、随诊或进一步检查治疗。</li>
                <li>体检结束后，如果对体检报告有疑问或有其它方面的身体不适症状，欢迎随时联系保酷客服热线400-612-6750 预约电话医生进行咨询。</li>
                <li>如不满意体检中心所提供的体检服务，请直接致电保酷客服热线: 400-612-6750，保酷将认真对待您的宝贵意见并要求体检中心在今后的工作中予以改进。</li>
                <li>如果您此次检查身体状况良好，请保持您良好的生活习惯，并且定期给您的身体作一次全面检查。</li>
            </ul>
        </div>
    </div>

    <!--服务承诺-->
    <div class="promise">
        <b>服务至上：</b>
        <p>
            保酷体检网始终坚持客户至上待客如亲的服务理念，坚持为客户创造价值。我们为客户提供专业贴心的检前咨询与指导服务，为客户提供优于医院门市价的体检价格体系，为客户提供更为详细的体检医院与体检套餐信息。
        </p>
    </div>
    <!--权力声明-->
    <div class="state">
        <span>权利声明：</span>
        <p>保酷上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是保酷重要的经营资源，未经许可，禁止非法转载使用。</p>
        <p><b>注：</b>本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
    </div>

    <!--商品评价-->
    @*<div id="comment">
            <p class="main_tabs">商品评价</p>
            <div class="m_content">商品评价</div>
        </div>*@
</div>



