@model Models.WZSearchModel

@{
    ViewBag.Title = "吴中人力资源";
}

@using (Ajax.BeginForm("ListData", null, new AjaxOptions()
{
    HttpMethod = "post",
    UpdateTargetId = "dataGrid"
}, new { @id = "searchForm" }))
{
    @Html.HiddenFor(m => m.UserId)
    <div class="Search">
        <dl style="width:100%">
            <dt style="width:10%">
                公司名称
            </dt>
            <dd style="width:22%">
                @Html.EditorFor(model => model.CompanyName)
            </dd>
            <dt style="width:10%"></dt>
            <dd style="width:25%;float:right">
                <p> <input type="submit" value="查找" /></p>
            </dd>
        </dl>
        @if (User.IsInRole("WZHumanAssistant"))
        {
            <dl style="width:100%">
                <dd style="float:right;width:25%;">
                    <p>@Html.ActionLink("添加新客户", "Create", "Company", new { @class = "btn btn-primary", style = "margin-left:0.5em;width:90%" })</p>
                </dd>
            </dl>
        }
        <p class="clearfix"></p>
    </div>

    <div id="dataGrid">
        @Html.Action("ListData")
    </div>
}