@{
    ViewBag.Title = "错误页面";
}
<h3>
    抱歉！我们找不到这个页面了
</h3>
<p>
    It's possible you typed the address incorrectly or that the page you were
</p>
<p>
    Please go to our home page and try again.
</p>
<p>
    Thank you for your patience.
</p>