
@{
    ViewBag.Title = "欢迎进入保酷";
}

<div>
    <h2 style="text-align:center">欢迎进入保酷</h2>
    <img src="../../../Content/imgIndex/index_photo.png" alt="Alternate Text" style="width:100%"/>
    <ul class="index_flow">
        <li>
            <a href="../Insurance/CarInscuranceSearch">
                <div class="front">
                    <img src="../../../Content/imgIndex/car_1_01.png" alt="车险" />
                    <span>汽车保险</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-cab fa-3x"></h2>
                    <h3>汽车保险</h3>
                    <p>专注汽车保险</p>
                    <p>价格低，理赔快</p>
                </div>
            </a>
        </li>
        <li class="ln_middle">
            <a href="../Insurance/Index">
                <div class="front">
                    <img src="../../../Content/imgIndex/insurance-1.png" alt="车险" />
                    <span>专属产品</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-bitcoin fa-3x"></h2>
                    <h3>专属产品</h3>
                    <p>品种多</p>
                    <p>价格低，理赔快</p>
                </div>
            </a>
        </li>
        <li class="">
            <a href="../Insurance/CustomizeProduct">
                <div class="front">
                    <img src="../../../Content/imgIndex/insurance-2.png" alt="自选产品" />
                    <span>自选产品</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-shopping-basket fa-3x"></h2>
                    <h3>自选产品</h3>
                    <p>品种多</p>
                    <p>价格低，理赔快</p>
                </div>
            </a>
        </li>
        <li>
            <a href="../Health/Index">
                <div class="front">
                    <img src="../../../Content/imgIndex/health-bk.png" alt="保酷体检" />
                    <span>健康体检</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-hospital-o fa-3x"></h2>
                    <h3>健康体检</h3>
                    <p>专注健康体检</p>
                    <p>价格低，体检快</p>
                </div>
            </a>
        </li>
    </ul>
</div>
