
@{
    ViewBag.Title = "欢迎进入保酷";
}

<div>
    <h2 style="text-align:center">欢迎进入保酷</h2>
    <img src="../../../Content/imgIndex/about_img1.png" alt="Alternate Text" style="width:100%"/>
    <ul class="index_flow">
        <li>
            <a href="#">
                <div class="front">
                    <img src="../../../Content/imgIndex/car_1_01.png" alt="车险" />
                    <span>汽车保险</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-cab fa-3x"></h2>
                    <h3>汽车保险</h3>
                    <p>专注汽车保险</p>
                    <p>价格低，理赔快</p>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="front">
                    <img src="../../../Content/imgIndex/health_1.png" alt="车险" />
                    <span>健康体检</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-hospital-o fa-3x"></h2>
                    <h3>健康体检</h3>
                    <p>专注健康体检</p>
                    <p>价格低，体检快</p>
                </div>
            </a>
        </li>
    </ul>
</div>
