@model Models.HomeIndexModel
@{
    ViewBag.Title = "欢迎进入保酷";
}

<div>
    <h2 style="text-align:center">欢迎进入保酷</h2>
    <div class="index-guide">
        @if (ViewBag.HasOrderPermission)
        {
            <div class="guide_1" onclick="JumpToOrderIndex()" style="cursor:pointer">
                <div>
                    <p class="col-xs-5"><img src="../../../Content/imgIndex/index_guide_1.png" alt="Alternate Text" /></p>
                    <h3 class="col-xs-7">我的保险计划</h3>
                </div>
                <div>
                    <p class="col-xs-5">有效保单数</p>
                    <p class="col-xs-7">在保人数量</p>
                </div>
                <div>
                    <b class="col-xs-5">@Model.InsuranceOrderCount</b>
                    <span class="col-xs-7">@Model.InsurancePersonCount</span>
                </div>
            </div>
        }
        @if (ViewBag.HasHealthOrderPermission)
        {
            <div class="guide_2" onclick="JumpToHealthIndex()" style="cursor:pointer">
                <div>
                    <p class="col-xs-5"><img src="../../../Content/imgIndex/index_guide_2.png" alt="Alternate Text" /></p>
                    <h3 class="col-xs-7">我的健康服务</h3>
                </div>
                <div>
                    <p class="col-xs-5">服务订单数</p>
                    <p class="col-xs-7">服务总数量</p>
                </div>
                <div>
                    <b class="col-xs-5">@Model.HealthOrderCount</b>
                    <span class="col-xs-7">@Model.HealthPersonCount</span>
                </div>
            </div>
            @*<div class="guide_3"></div>
                <div class="guide_4"></div>*@
        }
    </div>

    <div class="index_guide_img">
        <img src="../../../Content/imgIndex/index_guide_3.png" alt="Alternate Text" /><br>
        <img src="../../../Content/imgIndex/index_guide_4.png" alt="Alternate Text" />
    </div>
    <div class="index_guide_details">
        <div class="describe_name" style="color:#116EAE;font-size:1.5em;">理赔申请 Claim Application</div>
        <img src="../../../Content/imgIndex/index_guide_5.png" alt="Alternate Text" />
        <div class="describe_name" style="color:#116EAE;font-size:1.5em;">理赔流程 Claim Process</div>
        <img src="../../../Content/imgIndex/index_guide_6.png" alt="Alternate Text" />
    </div>
    <div style="height:100px;"></div>
    <!--<ul class="index_flow">
        @*@if (ViewBag.ProductSeries.Contains("中高端医疗"))
        {
        }
        @if (ViewBag.ProductSeries.Contains("吴中人力资源"))
        {
        }
        @if (ViewBag.ProductSeries.Contains("旅行险系列"))
        {
        }
        @if (ViewBag.ProductSeries.Contains("代理人系列"))
        {
        }
        @if (ViewBag.ProductSeries.Contains("营运车乘意险系列"))
        { }*@
        <li>
            <a href="#">
                <div class="front">
                    <img src="../../../Content/imgIndex/car_1_01.png" alt="车险" />
                    <span>汽车保险</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-cab fa-3x"></h2>
                    <h3>汽车保险</h3>
                    <p>专注汽车保险</p>
                    <p>价格低，理赔快</p>
                </div>
            </a>
        </li>


        <li class="ln_middle">
            <a href="#">
                <div class="front">
                    <img src="../../../Content/imgIndex/insurance-1.png" alt="车险" />
                    <span>专属产品</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-bitcoin fa-3x"></h2>
                    <h3>专属产品</h3>
                    <p>品种多</p>
                    <p>价格低，理赔快</p>
                </div>
            </a>
        </li>
        @*<li class="">
            <a href="#">
                <div class="front">
                    <img src="../../../Content/imgIndex/insurance-2.png" alt="自选产品" />
                    <span>自选产品</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-shopping-basket fa-3x"></h2>
                    <h3>自选产品</h3>
                    <p>品种多</p>
                    <p>价格低，理赔快</p>
                </div>
            </a>
        </li>*@
        <li>
            <a href="#">
                <div class="front">
                    <img src="../../../Content/imgIndex/health-bk.png" alt="保酷体检" />
                    <span>健康体检</span>
                </div>
                <div class="back">
                    <h2 class="fa fa-hospital-o fa-3x"></h2>
                    <h3>健康体检</h3>
                    <p>专注健康体检</p>
                    <p>价格低，体检快</p>
                </div>
            </a>
        </li>
    </ul>-->
</div>

@section Scripts {
    <script>
        function JumpToHealthIndex() {
            self.location = "/health/AuditListSearch";
        }
        function JumpToOrderIndex() {
            self.location = "/order/index";
        }
    </script>
}