
@{
    ViewBag.Title = "Index";
}

<div>
    <h2 style="text-align:center">欢迎进入保酷</h2>
    <img src="../../../Content/imgIndex/about_img1.png" alt="Alternate Text" style="width:100%"/>
    <ul class="index_flow">
        <li>
            <a href="#">
                <div class="front">
                    <img src="../../../Content/imgIndex/car_1.jpg" alt="车险" />
                    <p>汽车保险</p>
                </div>
                <div class="back">
                    <h3>汽车保险</h3>
                </div>
            </a>
        </li>
    </ul>
</div>
