<ul class="nav nav-tabs nav-stacked firstMenu">
    
    <li>
        <a href="#inscooManager" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-users fa-lg"></i>保险酷</a>
        <ul id="inscooManager" class="nav nav-list collapse secondmenu">
            <li><a href="/Insurance"><i class="fa fa-shopping-bag fa-lg"></i>推荐产品</a></li>
            <li><a href="/Insurance/CustomizeProduct"><i class="fa fa-shopping-bag fa-lg"></i>自选产品</a></li>
        </ul>
    </li>
    <li><a href="#"><i class="fa fa-medkit fa-lg"></i>健康酷</a></li>
    <li><a href="#"><i class="fa fa-rmb fa-lg"></i>理赔中心</a></li>
    <li>
        <a href="#productManager" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-shopping-basket fa-lg"></i>产品管理</a>
        <ul id="productManager" class="nav nav-list collapse secondmenu">
            <li><a href="/Product"><i class="fa fa-shopping-bag fa-lg"></i>基础产品</a></li>
            <li><a href="MixProduct"><i class="fa fa-shopping-bag fa-lg"></i>推荐产品</a></li>
            <li><a href="#"><i class="fa fa-shopping-cart fa-lg"></i>自定义产品</a></li>
        </ul>
    </li>
    <li>
        <a href="#orderManager" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-shopping-basket fa-lg"></i>订单管理</a>
        <ul id="orderManager" class="nav nav-list collapse secondmenu">
            <li><a href="/Order"><i class="fa fa-shopping-bag fa-lg"></i>订单列表</a></li>
        </ul>
    </li>
    <li><a href="/User"><i class="fa fa-user fa-lg"></i>账户管理</a></li>
    <li><a href="/User/changepassword"><i class="fa fa-user fa-lg"></i>修改密码</a></li>
    <li><a href="/company/listindex"><i class="fa fa-info-circle fa-lg"></i>企业信息</a></li>
    <li><a href="#"><i class="fa fa-line-chart fa-lg"></i>财务管理</a></li>
</ul>
<ul class="bottomMenu nav nav-tabs nav-stacked firstMenu">
    <li>
        <a href="#setup" class="nav-header collapsed" data-toggle="collapse">
            <i class="fa fa-cogs fa-lg"></i>设置
        </a>
        <ul id="setup" class="nav nav-list collapse secondmenu">
            <li><a href="/Role"><i class="fa fa-shopping-cart fa-lg"></i>角色管理</a></li>
            <li><a href="/Nav"><i class="fa fa-navicon fa-lg"></i>系统功能</a></li>
            <li><a href="/Permission"><i class="fa fa-user-secret fa-lg"></i>权限管理</a></li>
            <li><a href="/GenericAttribute"><i class="fa fa-user-secret fa-lg"></i>通用属性</a></li>
        </ul>
    </li>
    <li class=""><a href="/Account/Signout"><i class="fa fa-power-off fa-lg"></i>退出</a></li>
</ul>