
<div class="service-girl-title">保酷在线咨询</div>
    <div class="service-type">
        <span class="fa fa-phone fa-4x"></span>
        <b><a href="wtai://wp/mc;15655536121" class="fa fa-phone"> 400-820-0000</a></b>
        <span class="fa fa-qq fa-4x"></span>
        <b>
            @*<a href="tencent://message/?uin=514689320&site=在线咨询&menu=yes" target="blank" class="fa fa-qq"> QQ交流</a>*@
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=514689320&site=在线咨询&menu=yes" class="fa fa-qq"> QQ交流</a>
    </b>
    <span><img src="../../Content/imgIndex/v1.jpg" alt="Alternate Text" /></span>
    <b><a href="#" class="fa fa-weixin"> 微信公众号</a></b>
</div>
<div class="arrow-left fa fa-hand-o-left fa-3x"></div>