
<div class="service-girl-title"><i class="fa fa-commenting"></i>&nbsp;保酷客服</div>
    <div class="service-type">
        <p class="">客服</p>
        <b>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=514689320&site=在线咨询&menu=yes"  class="fa fa-qq"  style="margin-bottom:10px;"> 在线咨询</a>
        </b>
        
        <span class="">服务热线</span>
        <b style="padding-bottom:24px"><a href="wtai://wp/mc;" class="fa fa-phone"> 400-820-0000</a></b>
        <span><img src="../../Content/imgIndex/v1.jpg" alt="Alternate Text" class="img-responsive"/></span>
        <b style="border:none"><a href="#" class="fa fa-weixin"> 微信公众号</a></b>
</div>
