
<div class="service-girl-title"><i class="fa fa-commenting"></i>&nbsp;保酷在线客服</div>
    <div class="service-type">
        <p class="">客服</p>
        <b>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=514689320&site=在线咨询&menu=yes"  class="fa fa-qq"  style="margin-bottom:10px;"> 在线咨询</a>
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=514689320&site=在线咨询&menu=yes"  class="fa fa-qq"> 在线预约</a>
        </b>
        
        <span class="">服务热线</span>
        <b style="border:none;padding-bottom:0"><a href="wtai://wp/mc;15655536121" class="fa fa-phone"> 400-820-1627</a></b>
        <span class="">团体热线</span>
        <b><a href="wtai://wp/mc;15655536121" class="fa fa-phone"> 021-80231920</a></b>
        <span><img src="../../Content/imgIndex/v1.jpg" alt="Alternate Text" class="img-responsive"/></span>
        <b style="border:none"><a href="#" class="fa fa-weixin"> 微信公众号</a></b>
</div>
