<header>
    <ul>
        <li>
            <a href="/">
                <img src="~/Content/img/logo.png" />
            </a>
        </li>
        <li class="fa fa-phone fa-2x">
            <strong> 400-612-6750</strong>
        </li>
    </ul>
</header>
