<ul class="nav nav-tabs nav-stacked firstMenu">
    <li><a href="#"><i class="fa fa-users fa-lg"></i>保险酷</a></li>
    <li><a href="#"><i class="fa fa-medkit fa-lg"></i>健康酷</a></li>
    <li><a href="#"><i class="fa fa-rmb fa-lg"></i>理赔中心</a></li>
    <li>
        <a href="#orderManager" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-shopping-basket fa-lg"></i>订单管理</a>
        <ul id="orderManager" class="nav nav-list collapse secondmenu">
            <li><a href="#"><i class="fa fa-shopping-bag fa-lg"></i>已付订单</a></li>
            <li><a href="#"><i class="fa fa-shopping-cart fa-lg"></i>未付订单</a></li>
        </ul>
    </li>
    <li><a href="/User"><i class="fa fa-user fa-lg"></i>账户管理</a></li>
    <li><a href="#"><i class="fa fa-info-circle fa-lg"></i>企业信息</a></li>
    <li><a href="#"><i class="fa fa-line-chart fa-lg"></i>财务管理</a></li>
</ul>
<ul class="bottomMenu nav nav-tabs nav-stacked firstMenu">
    <li>
        <a href="#setup" class="nav-header collapsed" data-toggle="collapse">
            <i class="fa fa-cogs fa-lg"></i>设置
        </a>
        <ul id="setup" class="nav nav-list collapse secondmenu">
            <li><a href="/Role"><i class="fa fa-shopping-cart fa-lg"></i>角色管理</a></li>
            <li><a href="/Nav"><i class="fa fa-navicon fa-lg"></i>系统功能</a></li>
            <li><a href="/Permission"><i class="fa fa-user-secret fa-lg"></i>权限管理</a></li>
        </ul>
    </li>
    <li class=""><a href="/Account/Signout"><i class="fa fa-power-off fa-lg"></i>退出</a></li>
</ul>