
@{
    ViewBag.Title = "产品详情";
}

<div class="health_box">
    <div class="health_box_header">
        <ul class="">
            <li class="header_left">体检卡示意图</li>
            <li class="header_right">
                <h3><span>入职体检</span>--<span>基础型(全国)</span></h3>
                <ul>
                    <li>仅售：<b>￥150 元</b></li>
                    <li>市场价：<span>￥300元</span></li>
                </ul>
                <div class="product-count">
                    <div><i class="fa fa-cart-arrow-down"></i>直接购买</div>
                </div>
            </li>
        </ul>
    </div>
    <div class=health_box_body>
        <ul class="health_nav">
            <li class="active"><a href="#product_detail">项目详情</a></li>
            <li><a href="#product_shop">支持门店</a></li>
            <li><a href="#product_order">预约流程</a></li>
            <li><a href="#product_rule">体检须知</a></li>
        </ul>
        <div id="product_detail" class="content_style show">项目详情</div>
        <div id="product_shop" class="content_style">支持门店</div>
        <div id="product_order" class="content_style">预约流程</div>
        <div id="product_rule" class="content_style">体检须知</div>
    </div>
</div>

