@model IEnumerable<Models.VCheckProductList>
@{
    ViewBag.Title = "健康库";
}

<div class="health_box">
    <img src="../../Content/imgIndex/health_img_1.png">
    @foreach (var type in ViewBag.ProductTypeName)
    {
        <div class="health_project">
            <p>@type</p>
            @foreach (var p in Model.Where(m => m.ProductTypeName == type))
            {
                <ul class="health_detail">
                    <li>@p.ProductName</li>
                    <li class="health_content">
                        <div class="content_left">
                            @*<img src="~/Content/img/health/health_1_1.png" />*@
                            <img src="@p.CheckProductPic" alt="Alternate Text" />
                        </div>
                    </li>
                    <li class="project_price">
                        <p>市场价：<span>￥@p.PublicPrice</span></p>
                        <div>优惠价：<span>￥@p.PrivilegePrice</span></div>
                    </li>
                    <li>
                        @Html.ActionLink("立即购买", "BuyInfo", new { id = p.Id }, new { @class = "btn btn-buy" })

                    </li>
                </ul>
            }
        </div>
    }
</div>