@{
    ViewBag.Title = "上传人员名单";
}

@using (Html.BeginForm("UploadEmp", "Health", FormMethod.Post, new { @class = " entryInfoUpload", enctype = "multipart/form-data" }))
{
    <input type="hidden" name="id" id="id" value="@ViewBag.id" />
    <input type="hidden" name="ticks" id="ticks" value="@ViewBag.ticks" />
    <p class="basic-information">
        <i class="fa fa-edit fa-2x"></i>详细信息填写
    </p>
    <ul>
        <li>
            1.请下载员工名单模板并按模板格式填写：
        </li>
        <li>
            <a href="~/Archive/Template/health/体检上传表格.xlsx" target="_blank" class="btn btn-default">下载模板</a>
        </li>
        <li>
            2.请上传填写完成的员工名单
        </li>
        <li>
            <input type="hidden" value=@Model.MasterId name="masterId" />
            <a href="javascript:;" class="a-upload">
                <input type="file" id="empinfo" required name="empinfo" />+ 浏览
            </a>
            <span class="lab" style="height:28px;line-height:28px;"></span>
            <input type="submit" value="上传" class="btn btn-default" />
        </li>

    </ul>
    <div style="width:80%;margin:1em auto;line-height:2em;text-align:left;">
        <span style="color:#5cb85c">注:如果名单上传错误，请重新上传，新上传文件会把原文件替代</span>
    </div>
    <div style="width:80%;margin:0 auto;line-height:2em;text-align:left;">

        @if (TempData["error"] != null)
        {
            <span class="text-danger" style="font-size: 1em ">注意：@TempData["error"]</span><br />
        }
    </div>
}
