
@{
    ViewBag.Title = "账户管理";
}

<p>
    @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-success " })
</p>
<div id="dadaGrid">
    @Html.Action("List")
</div>
