
@{
    ViewBag.Title = "Index";
}


@using (Ajax.BeginForm("List", null, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "dadaGrid" }, new { @class = "form-inline", role = "form", id = "searchForm" }))
{
    @Html.AntiForgeryToken()
    <p>
        @Html.ActionLink("Create New", "Create", null, htmlAttributes: new { @class = "btn btn-success " })
        <div class="form-group">
            <label for="keyGroup">KeyGroup</label>
            <input type="text" class="form-control" name="keyGroup" placeholder="KeyGroup" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" value="Search" onclick="restPagerIndex()" />
        </div>
    </p>
    <div id="dadaGrid">
        @Html.Action("List")
    </div>
}

